<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title> HS在线 </title>
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.35, user-scalable=yes">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
</head>

<body style="height: auto">
<script src="/static/js/public/jquery.min.js"></script>
<script src="/static/js/public/JSUtils.js"></script>
<script src="/static/js/public/cookie.js"></script>

<div style="height: 100px;width: 100%;color: #2b542c;font-size: 2em;text-align: center;line-height: 100px">{{ NEWS_TITLE }}</div>
<div>
    <section data-role="outer" label="Powered by 135editor.com" style="font-size:16px;">
        <section
                style="padding: 10px; max-width: 100%; color: rgb(62, 62, 62); white-space: normal; background-image: url(&quot;http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy96aWFkRERReGJDSkdqTXUyVEdsZllzMDh6UE1ldU9MYVdGUVp0S1pWQ0F6dGxaV0NScDZTYm5SZTZJVHF4eW9EUnNSMG9pYU5SNmd4aWFDdUlIeEYwTDlIdy8wLnBuZw==&quot;); background-size: auto; background-position: 50% 50%; background-repeat: repeat; box-sizing: border-box;">
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                日前，一则关于中国教育界的新闻在网上闹得沸沸扬扬。事情的来龙去脉是这样子的：出于对本国学生数学水平的担忧，英国有关部门决定引进中国出版的《真正上海数学》，并且不加改编、完全照翻；然后将该教材用于英国8000多所小学的数学教学，这几乎覆盖了全英一半左右的小学。</p>
        </section>
        <p style="max-width: 100%; min-height: 1em; color: rgb(62, 62, 62); white-space: normal;"><img data-s="300,640"
                                                                                                       data-type="jpeg"
                                                                                                       class=""
                                                                                                       data-ratio="0.459375"
                                                                                                       data-w="640"
                                                                                                       src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9pYTVndWRpYjZ3MXJCWnhNMGM5ZmJidGN1SHk4OUc1OWs4OFczY0tKcWFSTWhjaWFGTzF1VHNMM3dwaWN1S0hPbkJ0cXlRdjJhUjZZd2szTUZpYWxzaWNzVDZtZy82NDA/d3hfZm10PWpwZWc="
                                                                                                       data-fail="0"
                                                                                                       style="width: auto !important; visibility: visible !important;">
        </p>
        <section
                style="padding: 10px; max-width: 100%; color: rgb(62, 62, 62); white-space: normal; background-image: url(&quot;http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy96aWFkRERReGJDSkdqTXUyVEdsZllzMDh6UE1ldU9MYVdGUVp0S1pWQ0F6dGxaV0NScDZTYm5SZTZJVHF4eW9EUnNSMG9pYU5SNmd4aWFDdUlIeEYwTDlIdy8wLnBuZw==&quot;); background-size: auto; background-position: 50% 50%; background-repeat: repeat; box-sizing: border-box;">
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                这个消息一经爆出，立刻在国内网络上炸开了锅，因为这样的情况，不仅在英国教育史上是首次，对于百年来的中国来说，也是头一遭。</p>
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                众所周知，自鸦片战争爆发、以英国为代表的西方国家用坚枪利炮炸蒙了国人以来，国人在面对西方发达国家时，无论从心理上，还是实际行动上，都长时间地保持着学生般的谦（zi）逊（bei）姿态。尽管近几十年来，随着改革开放不断深入，我国包括教育在内的各领域都获得极大的进步和提升；但因为发展时间晚，因而在绝大部分国人看来，我国在很多方面还是落后欧美发达国家的；尤其在教育方面更是如此。</p>
            <p style="max-width: 100%; min-height: 1em;"><img data-s="300,640" data-type="jpeg" class=""
                                                              data-ratio="0.75" data-w="500"
                                                              src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9pYTVndWRpYjZ3MXJCWnhNMGM5ZmJidGN1SHk4OUc1OWs4Z3NGdFNaRVF5YWxEOTgwQ3ZLZlk3MGdiNTFUSmIyRmJ6MGVlck4wN2ljQzlCQnRkaWNiekZjdncvNjQwP3d4X2ZtdD1qcGVn"
                                                              data-fail="0"
                                                              style="width: auto !important; visibility: visible !important;">
            </p>
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                但事实真的是这样吗？这里给大家分享一位华人刚到美国时遇到的趣事：他在超市选好东西后到收银台结算，一共96美元；于是这位仁兄从钱包拿出101美元给收银员，并提醒他找自己5美元就可以了。结果收银员愣了好一会儿没反应过来；最后还是把1美元先退给他，然后根据机器提示，又找了他4美元。最初他以为这只是个例，但后来发现这样的情况在美国简直比比皆是。欧美等国家的人数学水平普遍较低，绝大部分成年人连中国小学生都会的九九乘法表都不知道；因此离开了计算器或其它机器，他们在算术上完全成了白痴。</p>
        </section>
        <section
                style="padding: 10px; max-width: 100%; color: rgb(62, 62, 62); white-space: normal; background-image: url(&quot;http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy96aWFkRERReGJDSkdqTXUyVEdsZllzMDh6UE1ldU9MYVdGUVp0S1pWQ0F6dGxaV0NScDZTYm5SZTZJVHF4eW9EUnNSMG9pYU5SNmd4aWFDdUlIeEYwTDlIdy8wLnBuZw==&quot;); background-size: auto; background-position: 50% 50%; background-repeat: repeat; box-sizing: border-box;">
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                或许有人会说这和创新能力是两码事，这话如果放在以前传统行业为主导的时代，或可以说是正确的；但在以数学为基础的互联网科技时代，就成了完全的错误。自上世纪90年代美国发起互联网革命以来，目前硅谷已发展成为全球互联网科技中心；但让人倍感“触目惊心”的是，目前硅谷几乎要被印度和中国人“占领”了；而中国和印度恰恰是最重视数学基础教育的国家。</p>
        </section>
        <section
                style="padding: 10px; max-width: 100%; color: rgb(62, 62, 62); white-space: normal; background-image: url(&quot;http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy96aWFkRERReGJDSkdqTXUyVEdsZllzMDh6UE1ldU9MYVdGUVp0S1pWQ0F6dGxaV0NScDZTYm5SZTZJVHF4eW9EUnNSMG9pYU5SNmd4aWFDdUlIeEYwTDlIdy8wLnBuZw==&quot;); background-size: auto; background-position: 50% 50%; background-repeat: repeat; box-sizing: border-box;">
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                欧美等西方国家的教育部门也意识到了问题所在，于是他们开始想办法弥补其数学基础教育上的短板。哈珀·柯林斯出版集团的经理麦格莱德在引进中国数学教材时就坦言：《真实上海数学》中的教学方法很有价值，任何改编都可能破坏教材内容的完整性；因此将不做改编，完全照翻。英国教育部门及其国内很多教育专家，也都期望通过引进该教材和先进教学方法，能够有效地帮助他们提升本国小学数学水平。</p>
        </section>
        <p style="max-width: 100%; min-height: 1em; color: rgb(62, 62, 62); white-space: normal;"><img data-s="300,640"
                                                                                                       data-type="jpeg"
                                                                                                       class=""
                                                                                                       data-ratio="0.8585858585858586"
                                                                                                       data-w="396"
                                                                                                       src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9pYTVndWRpYjZ3MXJCWnhNMGM5ZmJidGN1SHk4OUc1OWs4cGlhUU15Q1dRV0xNaWNNRWNBcW5nbE5RaE9POEpINXY2WGJweTV1M1lhRzdjN1RXYWljWlZIMHJBLzY0MD93eF9mbXQ9anBlZw=="
                                                                                                       data-fail="0"
                                                                                                       style="width: auto !important; visibility: visible !important;">
        </p>
        <section
                style="padding: 10px; max-width: 100%; color: rgb(62, 62, 62); white-space: normal; background-image: url(&quot;http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy96aWFkRERReGJDSkdqTXUyVEdsZllzMDh6UE1ldU9MYVdGUVp0S1pWQ0F6dGxaV0NScDZTYm5SZTZJVHF4eW9EUnNSMG9pYU5SNmd4aWFDdUlIeEYwTDlIdy8wLnBuZw==&quot;); background-size: auto; background-position: 50% 50%; background-repeat: repeat; box-sizing: border-box;">
            <p style="margin-top: 15px; margin-bottom: 15px; max-width: 100%; min-height: 1em; line-height: 2em; letter-spacing: 1.5px; color: rgb(89, 89, 89);">
                而这对于我国的教育界来说，也具有非凡的启示意义——或许是个不错的重新自我审视我国基础教育的机会。因为过去几十年间，我国对国内教育持较为激进反对态度人不在少数，他们总认为“国外的月亮比中国圆”，国外的那种“放任”式的教育方法就是好。但是现今的事实，却无情地啪啪地打了这些人的脸。</p>
        </section>
        <p><br></p></section>
</div>
</body>
</html>