<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title> HS在线 </title>
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.35, user-scalable=yes">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
</head>

<body style="height: auto">
<script src="/static/js/public/jquery.min.js"></script>
<script src="/static/js/public/JSUtils.js"></script>
<script src="/static/js/public/cookie.js"></script>

<div style="height: 100px;width: 100%;color: #2b542c;font-size: 2em;text-align: center;line-height: 100px">{{ NEWS_TITLE }}</div>
<div>
    <section data-role="outer" label="Powered by 135editor.com" style="font-size:16px;">
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        幼儿园小朋友虽然年纪小，但也是很爱美的。一次，班里的老师对一个小女生说：“梓梓，你长得真漂亮呀！”小女生非常开心，不过边上的一小男孩听到之后，马上很是天真的说：“梓梓，老师其实是骗你的！”</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        又有一天，梓梓穿了新的连衣裙到幼儿园，很开心地在音乐课上放声大唱：我要飞的更高……还是之前那个小男孩儿马上接到：摔成面包。这简直就是神补刀啊……</p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 325px; overflow: hidden !important;">
                    <img data-ratio="0.9090909" data-w="330" width="100%" data-type="gif" _width="100%"
                         class=" __bg_gif"
                         src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2dpZi9QZkZDaWJCOExpYnRtTU9KdzdpY2paamZpYmNZaDUwWFpsaWFSUE90U1dodU1IcTYzbU5KaWN3dkYxVnJ5ZGpTc0NpYkVZeDdSbjRvRkp0ZXRoVmU4RFoxb2w4U1EvMD93eF9mbXQ9Z2lm"
                         data-order="1" data-fail="0"
                         style="vertical-align: middle; width: 325px; visibility: visible !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        听到这样的话，我们大多是一笑而过，童言无忌，童言无忌啊……但是小时候那是童言无忌不知者无罪，长大成人后呢？这说话可是要遭打的呀！</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        这是完全不会说话！不懂说话的艺术！没有情商！所以孩子从小时候起就要慢慢学会讲话，不仅仅只是会开口讲话。</p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 325px; overflow: hidden !important;">
                    <img data-ratio="0.9096774" data-w="465" width="100%" data-type="gif" _width="100%"
                         class=" __bg_gif"
                         src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2dpZi9QZkZDaWJCOExpYnRtTU9KdzdpY2paamZpYmNZaDUwWFpsaWFSWE1uZTVsWFUzWU1IaGtQREY2VzNWczFGYkpxZHE1b1dIZEFJS29VZEszaDExb2U2M1QwQ1VnLzA/d3hfZm10PWdpZg=="
                         data-order="2" data-fail="0"
                         style="vertical-align: middle; width: 325px; visibility: visible !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        浙江海宁袁花镇有一望族，名姓查。这查家，不但善经商，还出了很多学识渊博的读书人。1924年3月10日，查家添了一个儿子，取名为查良镛。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        这名字该是根据家谱排行取出来的，想必也没多少人听过，但用这“镛”字作一联想，一分为二，金庸便是。金庸乃查良镛笔名。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">“如果没有金庸，我们少年时代只剩琼瑶和三毛了。如果没有金庸，我们的少年时代该会是多么仓皇。”</span></strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">今天便来讲讲金庸的说话智慧。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        查良镛别的不爱，却特爱读书。不知道是不是大师的少年时期都会比一般人更顽劣，查良镛读书时候也不是个安分的家伙，或许真的是因为这种“散漫、不守规矩”的方式，让他的人生也变得不同寻常。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        查良镛着迷于武侠小说，是因为一本书的启蒙——《荒江女侠》。书看得多，但是万万没有想到武侠小说竟然是书籍里的另一个天地。从此，查良镛便迷上了武侠，更幻想自己化身成为书中的侠客，仗剑天涯，除暴安良。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><strong
                            style="max-width: 100%;"><span
                            style="max-width: 100%; color: #0052A9;">武侠梦，就这样在他血液里埋下了种子。</span></strong></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;">
                    <img data-ratio="1.305" data-w="400" width="100%" data-type="jpeg" _width="100%" class=""
                         src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9QZkZDaWJCOExpYnRtTU9KdzdpY2paamZpYmNZaDUwWFpsaWFScmtlUDR6NEF5RFBZeTdYTnZydkdZOXhuUDdKSTIyUTdLV05QYlJXNDFIRWljWGxpYXJKemxmV1EvNjQwP3d4X2ZtdD1qcGVn"
                         data-fail="0" style="vertical-align: middle; width: 100%; visibility: visible !important;">
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        查良镛在念高中的时候，曾用一篇文章拐着弯骂了学校的训导主任。怎么写的呢？</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><em
                            style="max-width: 100%;">“阿丽丝小姐来到校园，</em></p>
                    <p style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><em
                            style="max-width: 100%;">忽见一条色彩斑斓的眼镜蛇东游西窜，</em></p>
                    <p style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><em
                            style="max-width: 100%;">伸毒舌，喷毒汁，还口出狂言，</em></p>
                    <p style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><em
                            style="max-width: 100%;">威吓学生：我叫你永不得超生……”</em></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        同学们看了都哈哈大笑，因为这文章里写着的眼镜蛇指的就是他们的训导主任，训导主任的名言就是——我叫你永不得超生。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        因为这训导主任有事没事就骂学生，这形象在学生眼里早没了，怎么会有学生喜欢呢，于是查良镛就“为民除害”了，仗义执言，用笔讨伐了这位训导主任。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">不过逞一时痛快的结局自然不会好，查良镛自此被退学。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        一个人一生中被开除一次，已经可以算是厉害了，但被开除两次那就真的是“传奇人物”了。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        当时正是日军侵华时候，查良镛家的宅子被烧了，母亲和弟弟也死了，他目睹了国破家亡后，变想要成为一个外交官，不为什么，只为维护国家尊严。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        所以在重庆读大学时，念的是外交系，他希望成为一名外交官来实现自己的政治抱负。但因为看不惯学校里不良的校风，他再次大胆直言，遭遇了平生第二次开除。外交官理想因此破灭。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        于是命运把他带进了人生的另一个方向。1946年秋天，《大公报》刊登启事：面向全国公开招聘三名国际电讯编辑。查良镛凭借自己的才华被千里挑一，进入上海《大公报》，正式步入了报人生涯。<strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">所以，查良镛的正业并不是写武侠小说，而是报业人。</span></strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        1948年，《大公报》在香港创立分社，查良镛被派到香港工作，那时他24岁。这也成为他一生中最重要的转折。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        那时候的香港并不发达，还是一个比较落后，有点像乡下的渔港城。在向来被视为“文化沙漠”的香港，金庸的写作工作也不是那么好做的。</p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        1950年，《大公报》旗下《新晚报》创刊，查良镛被调到《新晚报》。一同调往《新晚报》的，还有陈文统。反正两人都特爱看武侠小说，平时还一起下下围棋，算是知己好友。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        当时的香港出现了门派之争，但又禁止打擂台，于是擂台设在了离香港不远的澳门，而《新晚报》对这次门派之争也做了报道，这一次报道让当时的总编辑罗孚找到了出路——比武打擂似乎更能吸引人们的注意力。于是罗孚请陈文统在报刊上开始连载武侠小说。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        《龙虎斗京华》便见报了，并且一炮，深受香港市民的喜爱。一个新武侠小说时代就这样开启了。梁羽生是当时陈文统的笔名。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        小说小说，总有完结的那个时候，那么谁来接着连载武侠小说呢？罗孚想到了金庸。可是金庸只是爱看武侠小说，连正经小说都没有写过，更何况是武侠小说了。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">挨不过面子的金庸硬着头皮答应下来了。所以<strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">金庸就是这时候开始了他的武侠小说生涯。那么“新武侠小说的催生婆”就是这罗孚了！</span></strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">1955年2月8日，《新晚报》推出了《书剑恩仇录》。这便是金庸的第一部武侠小说。</span></strong><span
                            style="max-width: 100%;">也就是这部小说开始，“查良镛”这名字越来越少人知道，而“金庸”开始被越来越多的人知道了。</span></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><strong
                            style="max-width: 100%;"><span
                            style="max-width: 100%; color: #0052A9;">“如果没有香港，没有金庸”，</span></strong>这是对的。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        如若不是在香港，金庸大概刚一开始写《书剑恩仇录》，创作进程就被政治时局所中断。毕竟我们大家都知道在20世纪50年代至70年代期间，大陆发生了什么，那时候大陆人是完全不知金庸的。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        随着《书剑恩仇录》的走红，金庸开始了他的写作生涯，《碧血剑》、《射雕英雄传》……随之面世。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">但是之前就说过，金庸的主业不是写小说，而是报业人。<strong
                            style="max-width: 100%;"><span
                            style="max-width: 100%; color: #0052A9;">在1959年，金庸创办《明报》。</span></strong></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        创办报纸不是容易的事情，报纸销量低，就要等着关门。其中就有两位女作者长期给《明报》供稿，可是稿费一直没有涨，两人的内心多少有点埋怨。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        第一个女记者去找金庸，直接开门见山要求涨工资。金庸给的回答也是直接：“不能加。”</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        为什么呢？因为这个女记者是个高消费的人，看看她穿的衣服买的包开的车，哪怕金庸给再多的稿费也没用，这女记者花下去的钱就如同小石子儿扔进海里，一点水漂都不打。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        第二位女记者也去找金庸了。这姑娘比较含蓄，吞吞吐吐了半天，才说出了要求涨工资。金庸给的回答还是：“不能加。”</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        为什么呢？金庸说：“你除了读书就是写文章，除了写文章就是读书……哪儿有时间花钱？涨稿费多的钱，你也都是不花或者是给别人花啊！”</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        金庸大师这说话智慧真是厉害了！根据不同人的情况，分门别类回击他们的理由，两番说辞都被他回绝了。要是我们估计就一个理儿：“现在报社经营不善，稿费确实没法儿给各位涨啊……真是抱歉了。”</p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; text-align: center; font-size: 13px; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;">1963年，香港艺人张瑛（左）与金庸签约购买《倚天屠龙记》电影版权</p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">《明报》是如何走下去的呢？全然靠着金庸的武侠小说。</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        金庸开始在明报上撰写《神雕侠侣》《飞狐外传》《倚天屠龙记》……</p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">香港才子倪匡说：<strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">“看小说的人不看金庸，简直就是笑话。那时，每天报纸出来，人们会首先翻阅金庸的武侠小说连载；市民街谈巷议的话题，多半是与小说中的人物、情节有关。”</span></strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><strong
                            style="max-width: 100%;"><span
                            style="max-width: 100%; color: #0052A9;">飞雪连天射白鹿，笑书神侠倚碧鸳。</span></strong>金庸一生写了十四部武侠小说，部部经典。直至1972年以《鹿鼎记》封笔。
                    </p></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class="" style="max-width: 100%;"><p style="max-width: 100%; min-height: 1em;"><br></p>
                </section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
                <section class=""
                         style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%; overflow: hidden !important;"></section>
            </section>
        </section>
        <section class="_135editor"
                 style="max-width: 100%; color: rgb(87, 85, 84); font-size: 15px; letter-spacing: 1px; text-align: justify; white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="" style="max-width: 100%;">
                <section class=""
                         style="padding-right: 10px; padding-left: 10px; max-width: 100%; line-height: 1.8; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">而《鹿鼎记》中韦小宝这个人物更是让大家印象深刻。<strong
                            style="max-width: 100%;"><span style="max-width: 100%; color: #0052A9;">一个俗的不能再俗的平凡人，不识字，不会武功的韦小宝能在黑白两道都混得风生水起，靠的是什么？</span></strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">全靠他的说话艺术。韦小宝说话那真是<span
                            style="max-width: 100%;">灵活圆滑，会随机应变，舌头翻来覆去说的都是道理。</span></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                    <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                        很多人说金庸的说话套路太像韦小宝，金庸是在通过韦小宝表现自己，他就如同韦小宝一样，内心有原则有底线，也知道<strong style="max-width: 100%;"><span
                            style="max-width: 100%; color: #0052A9;">“外圆内方”</span></strong>这个理儿，这也是我们孩子从小就要明白的理儿。</p>
                </section>
            </section>
        </section>
        <p><br></p></section>
</div>
</body>
</html>