<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title> HS在线 </title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.35, user-scalable=yes">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
</head>

<body style="height: auto">
<script src="/static/js/public/jquery.min.js"></script>
<script src="/static/js/public/JSUtils.js"></script>
<script src="/static/js/public/cookie.js"></script>

<div style="height: 100px;width: 100%;color: #2b542c;font-size: 2em;text-align: center;line-height: 100px">{{ NEWS_TITLE }}</div>
<div>
    <section data-role="outer" label="Powered by 135editor.com" style="font-size:16px;">
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
            <section class="" style="max-width: 100%; width: 50%;">
                <section class=""
                         style="margin-right: 3px; padding-right: 6px; padding-left: 6px; max-width: 100%; display: inline-block; vertical-align: top; border-radius: 3px 3px 0px 0px; background-color: rgba(219, 219, 219, 0.64); color: rgb(63, 34, 0); font-size: 19px; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;"><strong
                            style="max-width: 100%;">台湾专家鼓吹“雄三”导弹“威力强大”</strong></p></section>
                <img data-ratio="2" data-w="50" data-type="png" width="0.8em" _width="0.8em"
                     src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X3BuZy9SWXhiTGljeHlrMG10T2J0c3Z6UkhxWWNzdHNweG5DdmM2UTR6YXNXV2JJYmdGbXVwbVhOQmxQcFZLQmUyMkd2MTl5NGRTQkJyUUpSVEZ2QzZJaWNnUTJRLzY0MD93eF9mbXQ9cG5n"
                     class="" data-fail="0"
                     style="display: inline-block; vertical-align: bottom; width: 0.8em !important; visibility: visible !important;">
            </section>
            <section class="" style="margin-top: -2px; max-width: 100%; width: 50%; font-size: 0px;">
                <section
                        style="margin-right: -6px; max-width: 100%; display: inline-block; vertical-align: top; width: 99.1124%; border-bottom: 2px solid rgb(176, 176, 176); box-sizing: border-box;"></section>
                <section
                        style="margin-top: -2px; max-width: 100%; display: inline-block; vertical-align: top; width: 0.887574%; height: 6px; border-radius: 50%; background-color: rgb(176, 176, 176); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;">
                <img data-ratio="0.5625" data-w="640" data-type="jpeg" class=""
                     src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9SWXhiTGljeHlrMG10T2J0c3Z6UkhxWWNzdHNweG5DdmNDNDFyekp3ejJkM1haMGdZRWNEUm9kMVdpYjFyYkJDV1oyaWFTemdHcGM5V0FJSTJtdFZ4azdRZy82NDA/d3hfZm10PWpwZWc="
                     data-fail="0"
                     style="vertical-align: middle; width: auto !important; visibility: visible !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; white-space: normal;"><span
                    style="max-width: 100%; letter-spacing: 0px;">台军事专家表示，“雄三”无论舰射还是陆射，终端攻击时都会加速到3马赫以上，可穿进所有舰船的钢板，“雄三”携带的500公斤弹头爆炸后，立即产生致命的毁灭力。</span><br
                    style="max-width: 100%;"></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><span
                        style="max-width: 100%; letter-spacing: 0px;">增程后的“雄三”可经由长程无人机中继导控，或由机动雷达车高山导控。</span></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                    超低空、超高速更是“掠海接敌，敌舰雷达难以发现，等发现时已命中贯入敌舰内部爆炸，被命中的敌舰沉没机率甚高！”。</p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;">
                <img data-ratio="0.5625" data-w="640" data-type="jpeg" class=""
                     src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9SWXhiTGljeHlrMG10T2J0c3Z6UkhxWWNzdHNweG5DdmN5S3p0c2VCdTREa0Jxamc3eHYxRkNkM2hZdDY3SlRpY29pY29QQ2xpYlo3QjJrNVJyT2ljMWlhQXppYVEvNjQwP3d4X2ZtdD1qcGVn"
                     data-fail="0"
                     style="vertical-align: middle; width: auto !important; visibility: visible !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><span
                    style="max-width: 100%; font-size: 14px;">图为：“雄三”宣传片资料图</span></p>
                <p style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><br></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                    不仅如此，此前发布的“雄三”宣传片，场景更是模拟了台军出动多种型号的战机，配合护卫舰和发射车，向解放军航母编队发射导弹。</p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
            <section class="" style="max-width: 100%; width: 50%;">
                <section class=""
                         style="margin-right: 3px; padding-right: 6px; padding-left: 6px; max-width: 100%; display: inline-block; vertical-align: top; border-radius: 3px 3px 0px 0px; background-color: rgba(219, 219, 219, 0.64); color: rgb(63, 34, 0); font-size: 19px; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;"><strong style="max-width: 100%;">对于“威力强大”的“雄三”</strong>
                    </p>
                    <p style="max-width: 100%; min-height: 1em;"><strong style="max-width: 100%;">这种自信是否过了头？</strong>
                    </p></section>
            </section>
            <section class="" style="margin-top: -2px; max-width: 100%; width: 50%; font-size: 0px;">
                <section
                        style="margin-right: -6px; max-width: 100%; display: inline-block; vertical-align: top; width: 99.1124%; border-bottom: 2px solid rgb(176, 176, 176); box-sizing: border-box;"></section>
                <section
                        style="margin-top: -2px; max-width: 100%; display: inline-block; vertical-align: top; width: 0.887574%; height: 6px; border-radius: 50%; background-color: rgb(176, 176, 176); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class="" style="max-width: 100%; display: inline-block; vertical-align: top; width: 100%;">
                <section
                        style="margin-bottom: -2.5em; max-width: 100%; width: 2.5em; height: 2.5em; border-left: 2px dotted rgb(193, 193, 193); border-top: 2px dotted rgb(193, 193, 193); box-sizing: border-box;"></section>
                <section style="padding: 8px; max-width: 100%; box-sizing: border-box;">
                    <section class="" style="max-width: 100%; width: 100%; background-color: rgb(241, 233, 222);">
                        <section class="_135editor"
                                 style="max-width: 100%; border: 0px none; padding: 0px; box-sizing: border-box;">
                            <section class="" style="max-width: 100%;">
                                <section class=""
                                         style="padding: 8px 5px; max-width: 100%; text-align: justify; font-size: 17px; box-sizing: border-box;">
                                    <p style="max-width: 100%; clear: none; min-height: 1em; white-space: normal;">
                                        岛内网友似乎并不买账，称其“真是一个搞笑专家，非常努力的在搞笑”、“对大陆了解太少，井底之蛙，就会迷惑百姓”。</p>
                                    <p style="max-width: 100%; clear: none; min-height: 1em; white-space: normal;"><br>
                                    </p>
                                    <p style="max-width: 100%; clear: none; min-height: 1em; white-space: normal;">
                                        而对于“雄三”，岛内网友也表示质疑，不少网友说，“每次都误射渔船，就这样还能攻打别人？”、“论武器数量、质量、军队人数，经济实力，区区40枚，你当大陆会怕你？开玩笑！”。</p>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <section
                        style="margin-top: -2.5em; max-width: 100%; width: 2.5em; height: 2.5em; float: right; border-right: 2px dotted rgb(193, 193, 193); border-bottom: 2px dotted rgb(193, 193, 193); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
            <section class="" style="max-width: 100%; width: 50%;">
                <section class=""
                         style="margin-right: 3px; padding-right: 6px; padding-left: 6px; max-width: 100%; display: inline-block; vertical-align: top; border-radius: 3px 3px 0px 0px; background-color: rgba(219, 219, 219, 0.64); color: rgb(63, 34, 0); font-size: 19px; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;"><strong style="max-width: 100%;">“雄三”导弹误射渔船</strong>
                    </p></section>
            </section>
            <section class="" style="margin-top: -2px; max-width: 100%; width: 50%; font-size: 0px;">
                <section
                        style="margin-right: -6px; max-width: 100%; display: inline-block; vertical-align: top; width: 99.1124%; border-bottom: 2px solid rgb(176, 176, 176); box-sizing: border-box;"></section>
                <section
                        style="margin-top: -2px; max-width: 100%; display: inline-block; vertical-align: top; width: 0.887574%; height: 6px; border-radius: 50%; background-color: rgb(176, 176, 176); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; text-align: justify; white-space: normal;"><span
                    style="max-width: 100%; letter-spacing: 0px;">2016年7月1日，金江舰在高雄左营基地实施甲级操演测考前，导弹中士高嘉骏违规独自操作“雄三”导弹射击系统，误将1枚导弹发出，射中在澎湖海域作业的渔船“翔利升号”，造成船长死亡、3名船员受伤。</span>
            </p>
                <p style="max-width: 100%; min-height: 1em; text-align: justify; white-space: normal;"><br></p>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
            <section class="" style="max-width: 100%; width: 50%;">
                <section class=""
                         style="margin-right: 3px; padding-right: 6px; padding-left: 6px; max-width: 100%; display: inline-block; vertical-align: top; border-radius: 3px 3px 0px 0px; background-color: rgba(219, 219, 219, 0.64); color: rgb(63, 34, 0); font-size: 19px; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;"><strong style="max-width: 100%;">执行卸弹作业时砸坏导弹</strong>
                    </p></section>
            </section>
            <section class="" style="margin-top: -2px; max-width: 100%; width: 50%; font-size: 0px;">
                <section
                        style="margin-right: -6px; max-width: 100%; display: inline-block; vertical-align: top; width: 99.1124%; border-bottom: 2px solid rgb(176, 176, 176); box-sizing: border-box;"></section>
                <section
                        style="margin-top: -2px; max-width: 100%; display: inline-block; vertical-align: top; width: 0.887574%; height: 6px; border-radius: 50%; background-color: rgb(176, 176, 176); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; white-space: normal;">
                闹剧不止此一出，据台湾媒体报道，台海军146舰队的子仪军舰9月11日在马公测天岛码头执行“标准-1”型导弹卸弹作业，其中1枚导弹吊载时不慎滑落甲板，造成导弹弹头及尾翼损伤，索性无人员损伤。据报道，“<span
                    style="max-width: 100%; letter-spacing: 0px;">标准-1</span><span
                    style="max-width: 100%; letter-spacing: 0px;">”</span><span
                    style="max-width: 100%; letter-spacing: 0px;">型</span><span
                    style="max-width: 100%; letter-spacing: 0px;">导弹滑落的时候，甲板上的操作官兵个个都受到惊吓，第一时间就是赶快跑开，等到认为不会有爆炸危险时，才展开后续处理。</span>
            </p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
            <section class="" style="max-width: 100%; width: 50%;">
                <section class=""
                         style="margin-right: 3px; padding-right: 6px; padding-left: 6px; max-width: 100%; display: inline-block; vertical-align: top; border-radius: 3px 3px 0px 0px; background-color: rgba(219, 219, 219, 0.64); color: rgb(63, 34, 0); font-size: 19px; box-sizing: border-box;">
                    <p style="max-width: 100%; min-height: 1em;"><strong style="max-width: 100%;">导弹破裂竟用胶带黏贴</strong>
                    </p></section>
            </section>
            <section class="" style="margin-top: -2px; max-width: 100%; width: 50%; font-size: 0px;">
                <section
                        style="margin-right: -6px; max-width: 100%; display: inline-block; vertical-align: top; width: 99.1124%; border-bottom: 2px solid rgb(176, 176, 176); box-sizing: border-box;"></section>
                <section
                        style="margin-top: -2px; max-width: 100%; display: inline-block; vertical-align: top; width: 0.887574%; height: 6px; border-radius: 50%; background-color: rgb(176, 176, 176); box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; white-space: normal;">
                此前，台湾媒体也曾爆出一条令人惊奇的新闻。台海军苏澳维修站邱姓库长作业时，不慎碰撞一枚“标准-2”导弹，导致陶瓷护罩出现裂痕，当时领班林姓士官长隐匿未上报，还以胶带捆绑，到今年1月9日执行吊弹作业开箱时才发现护罩损坏。</p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center;">
            <section class=""
                     style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important;">
                <img data-ratio="0.6640625" data-w="640" data-type="jpeg" class=""
                     src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xcGljLmNuL21tYml6X2pwZy9SWXhiTGljeHlrMG10T2J0c3Z6UkhxWWNzdHNweG5DdmNTZUhwaWFPU2lheFRBaWFmc2Z4cmUxamZpY0dsWjZUbDFWOWs1bnVzRFAxaWJ1V2xKQmppYmtnVGQzY1EvNjQwP3d4X2ZtdD1qcGVn"
                     data-fail="0"
                     style="vertical-align: middle; width: auto !important; visibility: visible !important;"></section>
        </section>
    </section>
    <section class="_135editor"
             style="max-width: 100%; color: rgb(62, 62, 62); white-space: normal; border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="max-width: 100%;">
            <section class="" style="max-width: 100%; text-align: justify; font-size: 17px;"><p
                    style="max-width: 100%; min-height: 1em; text-align: center; white-space: normal;"><span
                    style="max-width: 100%; font-size: 14px;">图为：“标准-2”型导弹发射架资料图</span></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;"><br></p>
                <p style="max-width: 100%; min-height: 1em; white-space: normal;">
                    有分析认为，台军目前至少有数千枚弹药严重超过储存期，就算武器保养得宜，长时间放置不用，设备的稳定性和可靠性也会受影响，因此导致近年的演习中，武器装备经常出现问题。</p></section>
        </section>
    </section>
    <p><br></p></section>
</div>
</body>
</html>