<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>球</title>
    <script src="/static/js/three/three.js"></script>
    <script src="/static/js/three/extra/controls/OrbitControls.js"></script>
    <script src="/static/js/three/extra/loaders/OBJLoader.js"></script>
    <script src="/static/js/three/extra/loaders/MTLLoader.js"></script>
    <script src="/static/js/three/extra/loaders/LoaderSupport.js"></script>
    <script src="/static/js/three/extra/loaders/OBJLoader2.js"></script>
    <script src="/static/js/three/extra/utils/SceneUtils.js"></script>
{#    <script src="/static/js/three/extra/loaders/OBJMTLLoader.js"></script>#}
</head>
<body onload="main()">
{#    <audio src="/static/data/music.mp3" autoplay loop></audio>#}
    <script>
        function main() {
            var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera(45,window.innerWidth / window.innerHeight,.2,1000);
            var renderer = new THREE.WebGLRenderer();

            // 配置相机
            camera.position.set(-20,30,40);
            camera.lookAt((new THREE.Vector3(10,0,0)));

            // 配置渲染器
            renderer.setClearColor(new THREE.Color(0xeeeeee,1.0));
            renderer.setSize(window.innerWidth,window.innerHeight);
            renderer.shadowMapEnabled = true;

            var sphere = createMesh(new THREE.SphereGeometry(10,50,50,0,2*Math.PI));
            scene.add(sphere);
            // 创建一个二维元
            function createMesh(gemo) {
                var meshMaterial = new THREE.MeshNormalMaterial();// baxiang材质
                var basicMater = new THREE.MeshBasicMaterial();
                basicMater.wireframe = true;
                return THREE.SceneUtils.createMultiMaterialObject(gemo,[meshMaterial,basicMater]);
            }
            var spotLigth = new THREE.SpotLight(0Xffffff);
            spotLigth.position.set(-40,55,-11);
            scene.add(spotLigth);

            // 绘制
            function render() {
{#                sphere.rotation.x += 0.01;#}
{#                circle.rotation.z += 0.01;#}
                requestAnimationFrame(render);
                renderer.render(scene,camera);
            }
        var controls=new THREE.OrbitControls(camera);
        controls.addEventListener('change', render);

            document.body.appendChild(renderer.domElement);
            render();
        }
    </script>
</body>
</html>