
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news3_1.html'">知识分享 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">用互联网思维做企业培训</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-01-09</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	传统的企业培训模式一般采取项目制的运作方式，例如，由专业的讲师开发课程并进行授课，并由班主任等工作人员进行班级的运营管理，给人高大上的感觉，但常常有听不懂。 而互联网培训模式采取平台化运作的方式，利用社群化运营，多用多媒体制作课程，比较能接地气，讲的是干货，往往利用爆点吸引学员的兴趣。具体做法有：
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	让学习碎片化 一个大的讲话超过两个小时时，就很少有人能听下来，我们可以按主题切成十分钟左右的一小段，每段起一个吸引人的标题，挑自己感兴趣的看——在玩手机时，把他工作中最需要的一些东西推送给他，十分钟碎片化时间看看高手都是怎么做的。即使在上下班的路上，等地铁、等班车时，它不占空间资源、又不占费用、资源，又不占工作时间。传统培训模式需要定时定点，增加了许多培训成本，同时，常常因时间、地点等产生冲突。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	让用户生成内容 用户生成内容是Web 2.0 概念的组成部分之一，如百度百科。如今，企业培训不只是HR和讲师的工作，可以让每个人分享企业的培训手册，包括经验、方法、观念等——这些方式避免传统培训内容由少数几人开发的局限性。即使由讲师授课，应该由学员提供案例、讨论题等。同时，也可以将学员工作情形拍成微电影，供其它人借鉴与参考。 用群众教育群众 知者为师，让企业内部的精英讲授，显然不是空谈，而是言之有物，比较务实，接合实际，往往能引起学员兴趣，这当中还包括了身教的部分。它不是灌输式的，是一种共同的认知与探索，因为面对问题、纠结、痛苦、烦恼，每个人都有机会来表达自己的意见，从而让每个人了解自己怎么看、别人怎么看、领导怎么看、下级怎么看；更容易走出封闭的小我，把事情看得清楚透彻——从来没有一个所谓的主旋律或最强音，核心是让群众教育群众，没有说教，只有这种亲切、平等的交流。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	让学习形成联盟 员工之间形成联盟，即找到能够相互支撑的朋友，形成7-8 人的联盟。具体操作，1、填写问题卡，传递给其它同事，并阅读同事的回复，也可以写上自己认为更有价值的信息，不断传递，补充进去最有价值的信息。2、选择一张白板纸，将自己的问题和已经收集到的回复张贴到白板纸上。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	让学院不只是课堂 传统的培训要么以能力为导向，往往隔靴搔痒，时效不强；要么以年度任务为导向，解决共性的问题，但个性显然不够；互联网思维的培训模式侧重以问题为导向，互相辅导，覆盖长尾。通过教与学，让学院不再是课堂，而是一个解决问题的平台，既能帮个人获得提升，也让员工用自己的智慧为组织做出贡献，留下每个人的真知灼见。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	其它小建议 用电子问卷系统，改进我们的需求调查和讲师评价；用微信群建立学员间的交流平台；让学员用“淘点点”订餐吧；把累人的设计工作外包给“威客”们；把工作“众包“给班委会；为优秀学员点“赞”。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	总之，企业构建企业大学，要把自己看做一个平台，既包括技术层面也包括运营层面，调动各种资源，突破企业
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
