
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news4_1.html'">成功故事 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">腾讯如何在庞大组织体系下保持极强的执行力</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2012-10-08</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	在谈腾讯之前，我想说说，在一个团队里，执行力低下的主要原因： 1、leader 的执行力低下，决策效率低，无法给团队传达明确清晰的目标 。 2、员工对目标、以及所要执行的事情的重要性理解不够，或者是缺乏相应的激励或考核，或者是本身对于工作的热爱度不够高，因此想要做的欲望、激情动力不够 。 3、员工不知道该如何执行，即需要执行的事情有难度，难到不知道该如何下手 4、越大的团队，越大的公司，更容易有非常大的沟通成本，导致决策低下
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	再来看看腾讯：
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	1、腾讯的创始人和高管们，都是极度热爱互联网产品、技术的人，他们几乎是腾讯里最勤奋的人，他们决策的效率之高，他们身体力行地关注用户反馈和产品改进，他们对于想要做的事情的决心之强，都可以在腾讯人的描述中看到，创始人和高官们的表率作用，深深打动和影响着腾讯员工： 他（Pony）过了一阵子回了一封长信过来：第一段里告诫我，在腾讯不允许说什么事情在技术上做不到。然后，他在信中列举了三四个部门里的Html高手，列出他们的名字和GM姓名，要求直接去联络他们，请求他们给与技术上的支持。Pony的邮件一般在凌晨三点后到达，到凌晨7点左右停止。9点上班，如果项目很重要，Tony（张志东）会在白天跟进，反复在RTX上讨论，或给邮件，傍晚会召开会议讨论总结。然后晚上9点多可以到家吃饭，洗澡。睡一会儿，三点左右，Pony的邮件会来，往来讨论到7时左右。休息两小时，9点开始，Tony在线上等你。。。。。。出自@和菜头 印象最深的是一天早上来到公司，发现pony凌晨4点半发的邮件。总裁10点回了邮件，VP10点半，几个总经理（在腾讯相当于中层）12点回复了讨论结论，到下午3点，技术方案已经有了，晚上10点，产品经理发出了该项目的详细排期，总共用时18个小时。出自腾讯产品经理@朱小草 真的，我被这种体验的追求，用户角度出发的坚持深深吸引。出自前腾讯人@焕德 即使是我这样的普通用户，都收到过腾讯高管们对我提及的产品反馈的直接回复，并且他们真的根据反馈快速改进了产品，详见 是的，腾讯的创始人和高管为腾讯注入的基因，不只是对于用户体验的极度关注，还有【腾讯没有技术上无法实现】的坚定信念和原则。我还记得在其他大公司工作的朋友，看到这一点后极度激动，想起了自己所在公司常常遇到“技术上无法实现”的困境。不知道在其他互联网公司工作的朋友，看到这一点，是不是深有感触？
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	2、腾讯在文化和制度上，都切实地强化着大家对产品和用户体验的关注度： 腾讯的企业文化，吸引到的人才，大部分是热爱互联网产品和技术的，再加上腾讯有很完善的导师制度，产品人员和技术人员的晋升考核路径（具体的还是期望腾讯的人亲自来说），相信在大部分时候，想做的欲望和动力，也都是足够的。尤其是，当自己崇拜的创始人、高管们如此深度地关注产品（我在腾讯微博上，常常看到很多高管对于多个产品的用户反馈，不只是最重要的几个产品，都给予很高的重视），我想，在其中的人，怎么可能缺乏动力呢？ 在这篇《学习腾讯的产品管理之道》 中，大家可以了解到腾讯具体是如何做的，随便引用几点： ?设置一个质量监控小组，由经验非常丰富的高Level的产品人员构成，赋予他们很大的权力，去监控和规范所有的产品项目。并且用KPI来制约产品项目服从这些规范。为了不搞教条主义，很多规范都是在立项之初，由项目经理和这个小组共同确认的，未必是硬性指派，一经确认就受到严格监控。确保好的规范不流于空喊口号。 ?公司高层（包括小马哥）不定期巡查每一个产品论坛，一旦发现有不认真回复用户的情况，立即予以训诫。确保产品人员与用户长期保持近距离接触。 ?每个产品都设置内部的交流平台，分为两部分，一块类似留言板，由产品主管发布项目的进度、动态；另一块是论坛，向公司内部所有人开放，接纳反馈。在腾讯内 部已经形成了非常活跃的氛围，甚至以该平台人气高涨为荣（至少你主管会喜欢这个），利用这个平台跨项目提意见，或是项目组内部交流思维碎片都很常见，达到 了群策群力，内部监督的效果。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	3、腾讯的内部分享、知识管理做得非常好，减少了“员工不知道怎么解决问题”的情况： 我常常听腾讯的朋友提起，他们每周都有很多产品、技术分享会，pony 等高管也时常参与分享，有不少会录制成视频，供大家长期学习。那些分享，含金量都很高。朋友说，看身边刚来的实习生，去听几次分享回来，都是进步飞跃。 网上公开的介绍“腾讯内部的e-learning系统主要有哪些课程？ 第一类是公司高层的重要讲话和一些政策；第二，职业素质、职业技能方面的一些课程，比如说压力管理、时间管理、商务礼仪等；第三类是我们外购的课程，比如《哈佛商业导师》；还有一类是“腾讯大讲堂”，这个大讲堂我们每两周做一次，一次两三个小时，请不同的技术专家来讲腾讯的产品、技术、研发，包括公司历史上一些很成功的产品研发的过程，我们把每一讲都拍下来，编辑成课件，也放到网上去。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	4、腾讯并非没有沟通的成本，只不过比起其他互联网公司，由于高层的重视，以及高层决策的高效，群体性的勤奋，会比一般的大公司，更高效一些。 （这并不是说，勤奋带来了高的执行力，而是强调，核心领导层对执行力的重要影响） 最后想说，其实很多道理，互联网从业者都明白，然而真正做到的，又有多少呢？同样身在互联网公司，我都深切地体会到，作为一个团队，快速响应用户反馈改进产品的不易（不是给用户回复就够了，而是要真正解决用户的问题）。腾讯做到的，真的值得大家学习。 很简单的事情，能日复一日，年复一年，一直都做到，而且是达到高的标准，真的，不容易。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
