
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news4_1.html'">成功故事 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">Google创始人拉里·佩奇密歇根大学毕业典礼演讲</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2012-04-04</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	今天来到这里我很荣幸。 请等一下。我知道，刚才那句陈词滥调，大家可能在想：每一位毕业典礼的演讲人都会说——很荣幸，但就我而言，的确字真意深，因为我来到这里，要比你们所知的大多数人都更为特别而亲切。我想告诉大家个中缘由。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	很久以前，1962年9月，这座校园里有一家名为史蒂文的消费合作社。该合作社有一间厨房，学生志愿者每十年左右来打扫厨房顶。当年有位名叫格洛莉亚的女大学生，爬上了高高的梯子，努力打扫肮脏的天花板，地板上站着一位名叫卡尔的寄宿生，他钦佩地看着这位姑娘，这就是他俩的第一次见面。他俩就是我的父母亲。我想你们会想，我就是厨房“化学实验”的直接成果，就在这里，密歇根大学。我的母亲今天和我们在一起，我们应该去找到他们的相遇之处，并且在天花板上镶嵌一块铭牌，上刻“感谢爸爸、妈妈！”
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	今天我们全家都来到了密歇根大学：我、我哥、我父母亲。我父亲在密歇根大学获得了三个半学位，他的博士学位是通信科学，因为他们认为计算机只是一时热门，他是44年前获得的。他与我母亲为之作出了巨大牺牲。在抚养我刚出生的哥哥时，他俩经常一分钱掰成两半使。母亲用手敲出了父亲的论文，我戴的这顶天鹅绒帽是我父亲的。这张文凭，和你们即将拿到的一样，是我父亲的。 我的祖父在密歇根弗林特的雪佛兰工厂工作，他是装配线上的一名工人。他曾开车带着他的两个孩子来到这里，并告诉他们：这是你们今后要上的大学。他的两个孩子都是从密歇根大学毕业的，这就是“美国梦”。他的女儿，贝芙丽，今天也和我们在一起。我的祖母经常扛着一个大铁锤，那时工人们静坐罢工用以保护自己。当我小的时候的时候，我就用那个大铁锤在地上砸树桩什么的。现在人们不再需要扛着个笨重的大家伙保护自己了，这很好。但今天万一出了状况，反正我带着它来了。 我父亲后来成为密歇根州立大学的教授，我也是个非常有运气的孩子。教授的生活是非常有弹性的，他有大量的时间培养我，哪里有比在学校培养孩子更好的地方呢？ 我想告诉大家的是，我来这里不仅仅是回家看看。我难以表达我来这里的自豪感，与我母亲、我哥哥、我的妻子露西，还有你们大家。我为你们感到骄傲，为你的亲朋好友骄傲，我们都加入了伟大的、大密歇根家庭，我感觉它是我生命的一部分。 我想告诉大家的是，我很清楚你们坐在座椅上，听着一个老家伙废话连篇地做毕业典礼演讲的感受，不要急，我会简短地说。 我有个关于追寻梦想的故事，更准确地说是一个发现梦想成真之路的故事。 你们知道，午夜甜梦中醒来是什么感觉吗？如果床边没有纸笔把梦记下，而第二天一早忘个精光又会怎样吗？
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	当我23岁的时候，我就做过这么一个梦。我猛地醒来，我想：如果我能把整个互联网下载下来，仅保存着链接……，我抓起一支笔开始写，有时候从梦中醒来是非常重要的。我花了一个午夜的时间描绘了细节，并确信它将所有作为。不久后，我就告诉我的导师，特里·温诺格拉德(Terry Winograd)，要花两周时间下载整个网络，当时他点了点头，其实他完全知道要花更长的时间，但他很睿智，并没有告诉我。年轻人的乐观主义通常不可低估！令人吃惊的是，我没有想过要打造一个搜索引擎。这一概念甚至没有进入我脑海。但后来，我突然想到了更好的给网页排序的方式，以形成真正的搜索引擎，谷歌就这样诞生了。当有伟大的梦想出现时，抓住它。 我在密歇根大学上学时，老师教导我如何梦想成真。我知道这听起来有些滑稽可笑，但我是从一次名为领导力成长的培训项目中得到了启发。该项目的口号就是“漠视不可能”。这个项目激励着我追寻一个疯狂的想法：我想在校园内建造一套个人快速运输系统以代替公交。这是这种解决我们交通问题的未来方式。我直到现在还想着很多有关交通的问题，你不要放任梦想，而要把它当作一种习惯去培育。现在人们花大力气干的很多事情，如做饭、保洁、开车，今后只会占用很少的时间。也就是说，如果我们“漠视不可能”，就能找到解决方案。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	我认为，实现雄心勃勃的梦想更为容易，我知道这听起来是一派胡言。既然没有人能疯狂到做这件事情，你也不可能完成。但最优秀的人就希望挑战。这就是谷歌所面临的。我们的使命就是组织全球的信息，并且让它到处能接受，并发挥作用。这难道不会让大家兴奋吗？但是我们真的不想启动谷歌，因为谢林和我都太担心拿不到博士学位。不过我们后来刷爆了三张信用卡，从一辆敞篷货车中买了硬盘，这也是谷歌最早的硬件。如果用一句话总结，如何改变世界，那就是在某种极度兴奋的事业上发奋努力。 当我做博士的时候，我像做三个方面的项目。感谢我的导师，他对我说，“为什么你不做做网络呢？”他给了我一些非常好的建议，因为即使在1995年，网络正随着人们和活动的增长而增长。技术和网络能使你变懒。变懒？我的意思是三人组合写的软件就可以让数以百计的人使用并受益，但三个人可以一天接上百万次电话吗？找到撬起地球的杠杆，你就能变得更懒。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	总而言之，我知道这个世界看起来已支离破碎，但这是一个伟大的时代，在你的一生中可以疯狂些，跟随你的好奇心，积极进取。不要放弃你的梦想。世界需要你们。 如果我的父亲能活到今天，我想他最开心的莫过于看到我、露西和我们的孩子在一起。我向他会因为我没能拿到博士学位而恼怒。我的父亲是一位对新事物充满洞悉力和激情的人，如果他活到今天，他一定会有新的想法，如果他今天也能来到这里，将是他一生中最为荣耀的一天之一。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
