
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">联通携手NAK科技建设雄安新区智慧大数据平台</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-05-10</span>
    <div><p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 2018年，NAK科技在拓展雄安新区智慧城市项目中取得初步成果。联通雄安分公司建设雄安智慧微城体验中心项目落地雄安，其中，NAK科技与联通网络研究院合作建设智慧城市展厅大数据平台。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180515/20180515122241_77.jpg" alt="" />
</p>
<p style="text-align:center;">
	<br />
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 2017年底，中国联通成立联通雄安分公司，部署建设雄安智慧微城体验中心。雄安智慧微城体验中心是联通精心打造的智慧城市展示平台、智慧应用体验基地，展厅占地面积约7000平方米，像一个未来智慧城市的缩微版，集中展示了联通在全国各地智慧城市的成功示范案例。智慧城市展厅基于庞大的物联网数据，对中心内各个终端设施进行实时监控、处理和响应。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<div style="text-align:center;">
	<span style="line-height:2;"></span><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180515/20180515122305_155.jpg" alt="" /> 
</div>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;NAK科技作为联通物联网产业联盟理事单位，携手共同推进展厅建设项目。NAK集中采集雄安O域的XDR实时数据，对http/DNS/IM/位置更新/语音通话的业务进行分析。从用户洞察、业务分布、终端特征三个方面进行数据挖掘并在系统界面进行展现。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<div style="text-align:center;">
	<span style="line-height:2;"></span><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180515/20180515122326_761.jpg" alt="" /> 
</div>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 目前，雄安已成为5G、物联网等新技术的实验田。同时，雄安新区引入“共建”模式，提供了一个各类企业参与其中、发挥自身强项的全生态系统智慧城市生态圈。下一步，NAK科技将进一步与中国联通展开深入合作，作为国内领先的智慧物联网解决方案提供商，NAK科技将继续发挥联通物联网产业联盟理事单位资源协同的业务合作优势，开拓雄安新区智慧城市大市场，共同助力雄安新区智慧城建设发展之路。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;">ttps://v.qq.com/x/page/y0649c63c4m.html<br />
</span> 
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><span style="color:#003399;font-size:16px;"><strong>央视新闻报道雄安智慧微城体验中心智慧城市展厅</strong></span><br />
<span style="color:#003399;font-size:16px;"><strong>CCTV4《中国新闻》走进雄安系列报道（三）</strong></span><span style="color:#003399;font-size:16px;"><strong>新一代信息技术打造智慧之城（约从2:50开始）</strong></span><br />
<span style="color:#003399;font-size:16px;"><strong></strong></span><br />
</span> 
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
