
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">岭南私享在NAK，共话企业信息化</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-03-23</span>
    <div><p>
	<span style="font-size:16px;color:#333333;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp; 创新是企业发展永恒的主题。在瞬息万变的市场中，我们谈产品、谈市场、谈管理、谈战略。带着对企业战略和管理创新答案的探寻，浙江省中小企业发展促进会组织40余家会员单位，莅临NAK科技。NAK科技作为此次活动的东道主，与参会的企业管理者们共话企业信息化在转型创新中的作用。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;color:#333333;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180326/20180326110700_131.jpg" alt="" /><br />
</span> 
</p>
<p>
	<span style="font-size:16px;color:#333333;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp; 活动伊始，我司董事长刘京京向与会者介绍了NAK的概况与历史、战略与目标。随后，我司代表唐能波就信息化在企业转型创新的作用做出讨论。信息化管理能够拓宽销售渠道，实现运营透明化、决策智能化，是提高企业竞争力的重要手段，也是企业发展的必然趋势。事实上，企业信息化确实仍是众多企业发展的痛点之一，这也是一场思想碰撞与头脑风暴的讨论，与会的企业管理者们纷纷表示在讨论中获得了颇多新的启发。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;color:#333333;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180326/20180326111010_824.jpg" alt="" /><br />
</span> 
</p>
<p>
	<span style="font-size:16px;color:#333333;line-height:1.5;">&nbsp; &nbsp; &nbsp; 会上，我司与广州鸿琪光学仪器科技有限公司签订战略合作协议。</span> 
</p>
<p style="text-align:center;">
	<span style="font-size:16px;color:#333333;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180326/20180326111023_465.jpg" alt="" /><br />
</span> 
</p>
<span style="font-size:16px;line-height:1.5;color:#333333;">&nbsp; &nbsp; &nbsp; &nbsp; <span style="line-height:2;">NAK从事通信、安全、电力、水利、农业等行业应用软件研发、生产和销售近20年，在物联网和大数据应用相关领域的丰富经验赋能现代企业加速信息化进程。未来，NAK将与浙江省中小企业发展促进会及会员们一道，共同分享交流，互通有无，相互学习，共同进步。</span></span><br />
<span style="font-size:16px;line-height:1.5;color:#333333;"><span style="line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; </span><strong><span style="line-height:2;">结语</span></strong><span style="line-height:2;"> 查尔斯狄更斯曾说过：这是一个最好的时代，也是一个最坏的时代。其实，这句话放在哪个时代都适用。经济大萧条时期，有坚韧的优秀企业脱颖而出。而在“繁荣盛世”时期，也不乏知名企业黯然退场。只有不断学习、融合、跨界、创新，才能让企业时刻保持鲜活的生命力和竞争力。2018，一个最好的时代，一个最坏的时代。2018，NAK与众多伙伴携手同行。</span></span><br />
<span style="color:#333333;"></span><br />
<div>
	<br />
</div></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
