
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">NAK科技成功加入中国移动物联网联盟</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-04-27</span>
    <div><p class="MsoNormal" align="left" style="text-align:left;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">&nbsp; &nbsp; &nbsp; &nbsp; 2017年底，中国移动联合众多合作伙伴发起成立了中国移动物联网联盟。联盟以“自愿、平等、合作、共赢”为原则，由国内外从事物联网芯片、模块、终端、网络、平台、应用等相关产业的企事业单位和机构组成，是围绕物联网产业链相关前沿技术、产品及解决方案、公共服务平台、专业运营服务等开展技术研发、应用落地、产业化等工作的非营利性组织。该联盟于</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">11</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">月</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">23</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">日在广州召开了成立仪式暨第一届理事会，同时开启了联盟成员申请通道。</span><span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">&nbsp; &nbsp; &nbsp; &nbsp; 2018年</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">4</span><span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">月，NAK科技成功加入中国移动物联网联盟，成为物联网安全执委会成员。</span><span></span>
</p>
<p class="MsoNormal" align="left" style="text-align:center;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180428/20180428172801_116.jpg" alt="" /><br />
</span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">&nbsp; &nbsp; &nbsp; &nbsp; 物联网安全是目前物联网行业重点关注领域，是物联网产业持续发展的支撑和保障。依托中国移动在物联网领域的能力积累和联盟的合作框架，中国移动物联网联盟在行业内率先建立物联网安全领域的合作组织，具有十分重要的意义。</span><span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;">&nbsp; &nbsp; &nbsp; &nbsp; NAK科技拥有自主研发的物联网应用核心基础平台，结合通信底层探针技术，打造了全方位物联安全体系。凭借多年雄厚实力，NAK科技将持续为中国移动物联网联盟的物联安全保驾护航。</span><span></span>
</p>
<p class="MsoNormal" align="left" style="text-align:center;background:white;">
	<span style="color:#666666;font-size:16px;line-height:1.5;font-family:&quot;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180428/20180428172838_512.jpg" alt="" /><br />
</span> 
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
