
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news4_1.html'">成功故事 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">找钱、留人、产品定位？83后CEO的创业经验谈</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-02-13</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐乐：崇尚精英文化 回到刚才的问题，怎么样招人，早期的话，你会用你的梦想，会找到跟你志同道合的人跟你做事情。 第二个阶段，可能公司做得稍微大了一点点，有了一些小规模，我最关心的一点，一定要找到一个非常非常好的在公司里面管人力资源的负责人。结果是什么，结果就是说，这个事情你想要什么，找到最合适的，一个企业最重要的是需要找到在这个岗位上能够帮助你实现的。 另外我个人还比较崇尚精英文化，其实像我们去年做游戏公司的时候，一百多个人，很多人做了很多东西，但实际上可能产出不是那么精致，到国外发现一些行业里面，非常知名的公司也就二十来个人，所以后来调整公司，我们现在公司不到五十个人，发现我们的产出比去年还要好，每次都是做得比较好的。还是那句话，一般多数人聚在一起可以做出一些好事情。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐德尘：团队打造和谐文化
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	我们公司招人进团队，核心团队，第一原则，一定要能跟大家相处好，如果不能相处好，我们就不可能接受你进入我们团队了，这是第一要素，我们公司的确是有特点的人比较多，说不谦虚一点就是年轻有才，我们不担心你有才，因为我们能够接纳你，肯定是你很聪明，很有才，但是如果能进入团队，最重要的还是大家相互能处的很好，这永远是第一要素。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	创业公司如何定位产品？
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	陈欧：不按规则出牌，提供颠覆性服务
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	曾经有人说过，你选择的对手是非常重要的，那腾讯也有很多的创意团队，也有事业部，如果你做的不是他的核心团队，你就有时间做出差异化，当你做出成绩来，对方赶超你就来不及了。第二个，不要按照大公司的规则玩他的游戏，但是你可以去颠覆他，比如现在移动互联网开始发展的时候，可以从大而全变成小而精，或者化妆品推荐的方式，包括唯品会，他们的特卖方式，也是对一个传统的商城颠覆。所以对小公司的CEO来说，更多的是决策，方向性的选择。 我从不砸广告，因为我是管营销嘛，小公司比较灵活，大公司可能说市场费用是一个市场总监管的，咱们也知道，营销界存在什么像返点、回扣，那它的决策未必是最有效的。但是小公司会做出很多有效的，有传播力的营销方式，因为这是你创始团队、核心团队绞尽脑汁想出来的，包括我们自己的广告，从出炉到打造是花了半年的时间，而这个公司交给大公司的市场总监，那就不是这么做了。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	顾志诚：创业公司具备灵活性优势
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	我了解的像腾讯这类，真正的精英部队有三到五支。你那一块你的公司，因为是一个部门，掉头很慢，部门兼申请人的资源，广告人的资源，包括整个公司对事业部可能会很急，半年一定要看到怎么样怎么样。 看到很多大公司的做法，可能想得更长远一些，而且状态更稳定。所以真正在大公司做的，其实巨头看你的时候，它羡慕灵活性，创业公司可能干12小时，你的公司和人家一个部门干8个小时，一周干五天差别还是挺大的，再看你的时候，其实更累，打地鼠一样。就像陈欧说的，你可能来不及了。他做的是减法，缺一个都不行，我们是加法，只要有一个人就行了。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	吴欣鸿：依附大的平台
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	小公司和大公司之间，更多的是互补。相对于大公司而言，有很多小团队有它的优势，每一年用户这个群体，以及他们的需求都是在不断的变化，小公司的灵活性可以精准地把握需求。 对于小公司的决策，首先做一些自己擅长，而且让自己和用户都觉得特别有意思的事情，因为很多创意项目自己觉得很好玩，但是用户没有兴趣。 第二个，尽可能依附于大的平台，微信、微博，比如微博的利用上有的做得很快，很快就有数百万、上千万的用户。还有尽可能做一些不花钱，也能快速爆发的事情，美图到现在基本上没有花过什么的推广的费用。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐乐：专注于自己要做的事
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	我更关心的是，这件事情我是否可以做好，捡自己最擅长的事情，大团队也是小团队组织起来的，他可以做很多事情，可是我们专注。我记得我们公司三年前是做社交引擎的，我们转型游戏的时候，做这个企业。自己这件事情能不能做的更好，往往是自己的问题。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐德尘：走校园渠道，走适合自己的路
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	我们现在主要的用户就是不光是和大公司合作，严格说，我这是第二次创业，之前我们在北京一直做营销这一块，现在我们只是把资源重新拿起来，我们跟北京许多的中学、大学跟人家合作，做免费的校园的留学或者英语主题的讲座，以直播的形式带到学校里面去，把学生聚集起来看，第一个作为我们线下资源巩固，一个也是我们的推广模式，同时这个东西，虽然是有一些成本，但是的确从我们的角度来讲，当时我们在北京做营销的时候，我们去年刚开始做的时候，我们在北京，说得夸张一些，在全北京你随便挑中学，只要你说得出名，我就带你去。广州、长沙都比较好说，但是北京卡得特别严，这就跟教育的环境有关系。因为我最开始严格说那是我的第二次创业，第一次创业都不算创业，那个时候积累下来了人脉，通过这一块在全北京的各个学校里面去，每个学校里面我有我自己特殊的一条路进去，合法的。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	创业者语录：
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	陈欧：创业是你钟情的一种生活方式。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	顾志诚：创业有一点像以短跑的速度在跑长，外观比较光鲜，其实真的很苦。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	一个创业公司做上市的成功率，比你出门被车撞的成功率还低。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	舒义：如果你只是为了赚钱，还是建议工作，真的不建议去成立公司，成功概率太低了。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	吴欣鸿：我觉得兴趣是创业最大的驱动力。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐乐：我就是不折腾就很无聊的人。这就是自己的一种，创业就是我的工作。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	徐德尘：创业越早越好。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
