
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news4_1.html'">成功故事 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">科技行业数据库CrunchBase的大计划</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2013-02-17</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	美国知名科技博客TechCrunch旗下的行业数据库CrunchBase静悄悄地发展了六年。用户可以在这个数据库里查询科技公司的发展情况和相关新闻。目前，这个数据库已经拥有了由9万个用户提交的10.5万个公司和14万个个人概况。 最近，该产品明确了未来的发展规划。虽然，具体产品的部署会在未来几个月一一展现，但现在已透露的是，团队会在产品博客上公布使用CrunchBase API的优质开发者案例。大数据分析创业公司SiSense就通过利用该数据库的API提供了一个投资分析和数据可视化页面。投资人和创业者可以利用该产品了解重要的市场行情，比如创业公司每年的融资周期变化等。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	是否会有一个应用可以让你生活得更健康、更聪明或者更快乐？或者它能够将你的梦想通过分拆成可实现的步骤从而让其成为现实。Everest就是这样一个应用。其背后的投资人包括Peter Thiel（曾投资过Facebook）。 为了帮助用户快速了解如果实现自己的梦想，该应用会提供一些已经建成的案例，通过别人实现梦想的步骤来了解自己应该如何做。也就是说，用户即可以从别人那里取经，也可以自己搭建通往成功的阶梯。 计划建立好后，应用会按照既定的时间提醒用户该完成哪一步。当用户完成一步时，可以自己拍照或者记录完成的情况。此外，应用也引入了社交元素，让朋友之间互相鼓励着完成各自的梦想。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
