
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">凯通科技当选中国联通物联网产业联盟理事单位</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-04-13</span>
    <div><span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;4月13日下午，中国联通物联网产业联盟第一届理事大会在北京顺利召开，50多家企业受邀出席会议。</span><br />
<div style="text-align:center;">
	<img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180416/20180416180359_980.jpg" alt="" /> 
</div>
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;此次大会围绕物联网产业联盟合作发展方向，审议确定了联盟章程、联盟理事会和秘书处名单、联盟专家委员会和内设工作组名单、第一批联盟理事成员单位名单以及联盟工作计划。其中，广东凯通科技有限公司当选联盟理事单位。</span><br />
<div style="text-align:center;">
	<img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180416/20180416180434_739.jpg" alt="" /> 
</div>
<blockquote>
</blockquote>
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;中国联通副总经理、中国联通物联网产业联盟理事长梁宝俊致辞表示，中国联通已经把云计算、大数据、物联网等创新业务发展作为公司战略的重要内容，正在创新领域积极推动开展深度合作，聚合资源、整合优势、能力互补、互利共赢，促进重点业务和产业链融合发展，培育创新发展的新动能。</span><br />
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;下一步，中国联通将继续推进实施“物联网平台+”战略，打造广泛的物联网连接能力，以及技术领先、功能完善的物联网基础平台。</span><br />
<div style="text-align:center;">
	<img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180416/20180416180451_903.jpg" alt="" /> 
</div>
<blockquote>
</blockquote>
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;凯通科技多年来专注于行业物联网管控平台的研究与开发，以自有“天工测物”智慧物联网运营平台为核心，形成了“智慧通信”、“智慧安全”、“智慧制造”、“智慧城市”等核心产品体系，是国内顶尖的物联网运营支撑解决方案、大数据挖掘应用解决方案和企业信息化解决方案的咨询专家和系统集成商。</span><br />
<blockquote>
</blockquote>
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;凯通科技在联通物联网产业联盟中将积极参与、凝心聚力，从资源协同、标准打造、共享方案等方面开展工作，与各方共同探索物联网产业链发展新模式和新机制。凯通期望以中国联通物联网产业联盟平台为契机，加强在通信技术领域的研究，与联盟成员共同推进产业进程。</span><br />
<blockquote>
</blockquote>
<span style="color:#333333;font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp;中国联通物联网产业联盟是由30家行业龙头企业于2017年8月25日共同发起成立。该联盟致力于促进企业主体之间的交流和深度合作，旨在自愿、平等、互利、合作的基础上，推动技术革新和知识共享，形成优势互补，帮助联盟成员实现商业价值，合力推进产业发展，全力打造融合创新的生态体系。</span><br />
<span style="font-size:16px;color:#333333;"></span></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
