
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">今年年会哪家强？凯通青春正飞扬——凯通科技召开2018年新春年会暨2017年度表彰大会</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-01-27</span>
    <div><p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205173303_702.jpg" alt="" /><br />
</span>
</p>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp; 凯通2018年新春年会完美收官。我们再来回味一下那些精彩的瞬间，那些欢笑和喜悦。让年会载着我们2018的誓言和希冀，一起继续上路吧！</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><strong><span style="color:#E56600;"><img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" />主题<img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" /></span></strong><br />
</span>
</p>
<span style="font-size:16px;line-height:1.5;">
<div style="text-align:left;">
	&nbsp; &nbsp; &nbsp; &nbsp;以海魂衫为主题的年会，让小伙伴们开脑洞，摆POSE，玩得不亦乐乎。有你们的2017才是最精彩的，感谢我们一路同行！
</div>
</span>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205174056_500.png" alt="" /><br />
</span>
</p>
<span style="font-size:16px;line-height:1.5;">
<div style="text-align:center;">
	<strong><span style="color:#E56600;"><img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" />节目<img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" /></span></strong>
</div>
</span>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;凯通er们平时靠机智的头脑写代码玩转技术流，搞文艺也有自己的范儿。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205174614_953.png" alt="" /><br />
</span>
</p>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;特邀嘉宾的助兴，也为年会增添了色彩。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205174708_495.png" alt="" /><br />
</span>
</p>
<div style="text-align:center;">
	<strong><span style="color:#E56600;"><img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" />京京乐道<img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" /></span></strong>
</div>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;年会上，凯通科技刘京京董事长向全体员工传递凯通2018年的整体工作目标：在凯通企业愿景、企业使命和核心价值观下，使全体员工更加具有自主性地工作。把凯通建设成支持自己创新、创业的平台，发挥个人所长，实现个人价值。</span>
</p>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;凯通2018年要做的三件事：</span>
</p>
<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;1、推动、加强公司各层面、内外部的连接；</span><br />
<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;2、信息和人员合理、完整地流动；</span><br />
<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;3、在前两个目标的基础上，推动公司新的考核体系。</span><br />
<div style="text-align:center;">
	<strong><span style="color:#E56600;"><img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" />慈善拍卖<img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" /></span></strong>
</div>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;慈善拍卖环节为年会裹上了厚厚的温暖。凯通家人们的慷慨解囊，让年会高潮迭起，笑语阵阵。义卖以公正公开为原则，筹集款项共计29566元，并将全部用于凯通2018年的慈善公益项目，我们将会不定期更新拍卖款项的使用情况。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205174833_382.png" alt="" /><br />
</span>
</p>
<span style="font-size:16px;line-height:1.5;">
<div style="text-align:center;">
	<strong><span style="color:#E56600;"><img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" />嘉奖<img src="http://172.168.27.173:8080/cattWeb/components/kindeditor-4.1.10/plugins/emoticons/images/132.gif" border="0" alt="" /></span></strong>
</div>
</span>
<p>
	<span style="font-size:16px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp;年会中，有温情有感动，有激情有嘉奖。年对对2017年度飞跃进步奖员工、优秀员工、优秀管理者进行颁奖，公司感激所有优秀员工及候选人在过去一年中的所作的努力，同时激励全体凯通人以优秀员工为榜样，继续精进，在公司的平台上砥砺奋进，实现价值，谱写芳华。</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:1.5;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180205/20180205174903_116.jpg" alt="" /><br />
</span>
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
