
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
    <link href="/static/images/default.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
{#    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>#}
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">窝窝团更新招股书 融资额下调至不足6千万美元</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-31</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	3月31日消息，距离上一次更新招股书近1个月，电商平台窝窝团北京时间昨晚再次更新招股书，将上市发行量从原来的最高600万股美国存托股下调至最高517.5万股，最高融资额从原来的68,887,500美元下调至59,334,750美元。 根据窝窝团昨晚提交给美国证券交易委员会的第五份首次公开募股（IPO）招股书，该公司计划公开发行450万股美国存托股（ADS），并最多授予承销商67.5万股ADS，最高公开发行517.5万股ADS——3月4日招股书披露的发行量为3,636,363股ADS至600万股ADS。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	发行量下调后，窝窝团最高融资额也相应缩水，根据昨晚窝窝团招股书，该公司最高融资额一栏显示为59,334,750美元，低于3月4日最高融资额68,887,500美元之外，再次“蹊跷”地高于“最高公开发行量乘以发行价区间上限（11美元）”。 根据以往中概股上市文件，招股书中标注的最高融资额=发行价区间上限x发行量上限，而窝窝团标注的最高融资额59,334,750美元＞发行价区间上限11美元x最高发行量517.5万股ADS。 窝窝团还未公布股票在纳斯达克挂牌的时间，美国财经网站iposcoop预测该公司的上市时间为4月1日，不过这一时间晚于窝窝团在2月13日和2月20日同股东签署的两份决议中对最晚上市时间的限定——最晚3月31日。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	窝窝团目前还未公布发行价，发行价区间为每股美国存托股9美元至11美元，交易代码为“WOWO”，承销商为Axiom，股票挂牌地点为纳斯达克。 窝窝团1月9日首次向美国证券交易委员会递交招股书，此后四次更新招股书，上一次更新招股书时将发行量从最初的600万股ADS调整至3,636,363股ADS至600万股ADS，将最高融资额从最初的4000万美元先调整至6500万美元后又调整至68,887,500美元，如今发行量又调整至计划发行450万股ADS，最高融资额调整至不足6000万美元。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe>
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
