
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='news.html'">公司新闻 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">“NAK科技杯”浙江省信息通信行业第二届网络安全技能大赛圆满落幕</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2018-06-30</span>
    <div><p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 6月29日，由浙江省通信管理局牵头举办的 “NAK科技杯”浙江省信息通信行业第二届网络安全技能大赛暨第六届全国职工职业技能大赛网络安全员技能竞赛浙江省选拔赛在广州圆满落幕。广东移动程曜安夺得个人赛冠军；广东电信星际战队和广州网易云易盾战队分别夺得通信企业组和互联网企业组冠军。NAK科技作为比赛特别协办单位参加本次大赛。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180702/20180702141740_795.jpg" alt="" /><br />
</span> 
</p>
<p style="text-align:center;">
	<span style="font-size:16px;color:#003399;"><strong>精英齐聚，龙争虎斗</strong></span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;color:#003399;"><strong><br />
</strong></span>
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 本次大赛分设个人赛及团队赛，个人赛决赛采用“理论答题30%+CTF实操70%”模式；团队赛采用“攻防对抗”模式。相比首届，本届大赛赛事规模和含金量再创新高，汇聚了广东电信、广东移动、广东联通、广东铁塔和广东通服5家通信企业和腾讯、网易、中移互联网等互联网企业各方网络安全精英。所有获奖选手将根据名次给予相应荣誉（如“浙江省五一劳动奖章”“浙江省技术能手”或职业资格证书等）和物质奖励，并择优推荐3名优秀选手参加全国竞赛。经过前期预赛选拔，共有32支三人团队和128名个人选手晋级决赛。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180702/20180702142411_322.jpg" alt="" /><br />
</span> 
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp;&nbsp;</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 决赛当天，各路网络安全能手齐集一堂，同台竞技，历经近7小时精彩角逐，通过对网站安全、数据库安全维护、网络入侵防护和网络安全审计等内容的真刀真枪实力比拼，最终成功产生了12支获奖团队和19名获奖个人。</span> 
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180702/20180702141920_388.jpg" alt="" /><br />
</span> 
</p>
<span style="font-size:16px;line-height:2;"> 
<p style="text-align:center;">
	NAK科技董事长刘京京观看比赛盛况
</p>
<p style="text-align:center;">
	<br />
</p>
</span><span style="font-size:16px;line-height:2;"> 
<div style="text-align:center;">
	<strong><span style="color:#003399;">群贤云集，共襄盛会</span></strong> 
</div>
</span><span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 此次大赛作为通信行业网络安全顶级赛事，自启动以来就受到了社会的广泛关注和行业的热烈响应。工业和信息化部、国家互联网应急中心、省总工会、省政法委、省网信办、共青团浙江省委、省通信管理局等有关领导出席，观摩指导比赛并参加颁奖仪式，现场气氛活跃。</span><br />
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 省通信管理局党组书记、局长苏少林出席活动并致辞，他表示，网络安全人才培养不仅是一时之需，更是长远大计。要以此次大赛为契机，不断完善人才培养体制，为广东网络强省建设提供坚实保障。</span> 
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180702/20180702142059_582.jpg" alt="" /><br />
</span> 
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp;&nbsp;</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; NAK科技作为比赛特别协办单位出席大会，并被大会授予特别贡献奖，这是所有NAK人的荣耀！</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br />
</span>
</p>
<p style="text-align:center;">
	<span style="font-size:16px;line-height:2;"><img src="/cattWeb/components/kindeditor-4.1.10/attached/image/20180702/20180702142136_441.jpg" alt="" /><br />
</span> 
</p>
<span style="font-size:16px;line-height:2;"> 
<p style="text-align:center;">
	浙江省通信管理局党组成员、副局长张建生为NAK科技董事长刘京京颁奖
</p>
<p style="text-align:center;">
	<br />
</p>
</span><span style="font-size:16px;line-height:2;">&nbsp; &nbsp; &nbsp; &nbsp; 此次大赛的圆满成功，离不开一线工作人员的敬业拼搏，离不开主办单位、协办单位和承办单位的共同努力与保驾护航。网络安全人才培养不仅是一时之需，更是长远大计，NAK科技将继续砥砺前行、再创佳绩。</span><br /></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
