
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news3_1.html'">知识分享 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">敏捷开发的6个实战经验</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2013-12-09</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	在大型企业中经常是各种软件开发模式混用，一些采用敏捷开发，一些则是采用传统的瀑布式或RUP（统一软件开发过程）。敏捷开发，相对传统软件开发模式，它主要是针对快速变化的需求，不断优化管理流程，最终推出优质软件。 原文作者Ulf Eriksson，是一家在线问题跟踪软件公司的创始人之一，他是敏捷开发的忠实粉丝，已经进行了多年敏捷开发的实践。下面内容主要是作者根据自己多年经历进行的经验总结。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	1. 快速迭代 相对那种半年一次的大版本发布来说，小版本的需求、开发和测试更加简单快速。一些公司，一年仅发布仅2~3个版本，发布流程缓慢，它们仍采用瀑布开发模式，更严重的是对敏捷开发模式存在误解。 由一年发布2个版本转到一个月发布2个版本，这也不太可能。但是现在来看，快速迭代已经成为事实标准，关键是要比目前的版本发布速度更快一些。 快速迭代，可以逼迫团队不断优化流程、提升工作效率，不要在无足轻重的事情上浪费时间。如果离deadline还有6个月，那么整个工作节奏必然悠哉。如果每月发布一个版本，那么较以前效率必然会更高。如果发布周期过长，导致无法尽快发现用户需求，进而无法及时改进产品。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	2. 让测试人员和开发者参与需求讨论 需求讨论以研讨组的形式展开最有效率。研讨组，需要包括测试人员和开发者，这样可以更加轻松定义可测试的需求，将需求分组并确定优先级。 同时，该种方式也可以充分利用团队成员间的互补特性。如此确定的需求往往比开需求讨论大会的形式效率更高，大家更活跃，参与感更强。 确定需求时，不要过度盯在细节上。需求报告过于详细，就是一种不敏捷的习惯，还浪费大家的时间。当然，不能错过好点子，但就是不要太细，因为项目真正实施起来时需求将会产生很大的变动。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	3. 编写可测试的需求文档 开始就要用“用户故事”（User Story）的方法来编写需求文档。这种方法，可以让我们将注意力放在需求上，而不是解决方法和实施技术上。过早的提及技术实施方案，会降低对需求的注意力。 敏捷项目中编写用户故事有一个常用模板：作为一名[用户类型]，我想要[需求]，以便于[原因]。应用到这个例子，就是：作为一名用户，我想要将归档程序数字化，以便于增强沟通、提高分享效率。 多数情况下，需求内容需要更加充实和详细，这一步要放到后面做，开始不要这样。用户故事的方法有时会因过于简短、不断重复而受到批评。这里我们必须明白：需求文档不是散文或诗歌，应该清晰、简明地描述用户需求；需求文档的重点也在于此，不要管形式多变或内容是否重复这样的问题。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	4. 多沟通，尽量减少文档 任何项目中，沟通都是一个常见的问题。好的沟通，是敏捷开发的先决条件。在圈子里面混得越久，越会强调良好高效的沟通的重要性。 团队要确保日常的交流，面对面沟通比邮件强得多。 敏捷开发鼓励日常的协调会议和碰头会，5~7人参与的会议尽量控制在10分钟内。碰头时，要过一遍昨天完成了什么，今天要做什么，哪些问题仍待讨论。可以用Burndown Chart（燃尽图）来形象展示工作进度。每次迭代的时候也都要开一个计划会议和评审会议，一般需要的时间可能会长些，比如半天。这些会议的目的就是对工作查缺补漏。 评审会议很重要，传统开发模式往往略过该环节，导致一些错误做法不断重复，好的做法无法推广。 开会时，可以将原先的分组打散，让整个团队都参与到项目的需求讨论和测试中来，这样可以突出成员个人，让大家更乐意参与。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	5. 做好产品原型 建议使用草图和模型来阐明用户界面。并不是所有人都可以理解一份复杂的文档，但人人都会看图。 一个常见的问题是软件新的功能与用户想要的不一致。为了避免这一问题，可以模拟真实操作，改进模拟操作过程中难以理解和不清楚的操作行为。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	6. 及早考虑测试 及早地考虑测试在敏捷开发中很重要。传统的软件开发，测试用例很晚才开始写，这导致过晚发现需求中存在的问题，使得改进成本过高。较早地开始编写测试用例，当需求完成时，可以接受的测试用例也基本一块完成了。 敏捷开发中一个常见问题就是开发者没有对已有的代码库进行充分的回归测试。迭代周期很短，从开始到交付就是4周的时间，这样可以对迭代的设计、实现和底层测试一块进行回归测试。 一系列迭代之后，可以只针对测试活动再补充一个迭代。这个迭代可以将重点放在系统测试、与其他系统的集成度、性能等方面。敏捷开发过程中，可能会导致过少的测试文档。如果迭代周期为1个月左右，可以不必对测试文档过于要求，但要制定好测试策略。 最后 可能大多数公司或团队还没有开始尝试敏捷开发，不过可以开始从点滴做起，比如开碰头会、为项目管理采用一个更加高效的管理工具等等。最后，希望上面的建议能够为大家的软件开发管理带来帮助。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
