
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news3_1.html'">知识分享 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">通俗解释主要编程语言及其用途</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2012-11-09</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	Quora 上有这样一个问答贴：《In layman’s terms, what are the major programming languages, ａｎｄ what are they used for? 》如何用通俗语言来解释主要的编程语言及其用途。这个问答贴回复很多，不乏精彩回答。今天庖丁技术小编推送的这篇文章就选自其中得票数排前二的回复以飨读者。Isaac Lewis 的回复 （他把编程语言比作女人，是最有特色的回复）
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	PHP 是十多岁的花季恋人，是你在那个夏天首次笨手笨脚寻求的女孩。但不要试图和她开始一段更严肃的关系，因为这妹纸有严重的问题。 Perl 是 PHP 的姐姐。对于你来说，或许她年龄有点大了，但在20世纪90年代，她老火了。在和 Larry Wall 有一段长期关系后，Perl 的眼光下降了，并且她现在也色衰了。“ 爷才不管你们怎么说，爷就是爱她！” Larry Wall 如是说。但其他人不是这样的。（译注：Larry Wall 是 Perl 语言之父。） Ruby 是脚本语言家族中的酷妹。当你首次遇见她时，由其美貌而生的摄魂大法，差点让你窒息。她也很有趣。那时候她看起来有点反应慢且傻大姐，不过过去几年中，她已成熟许多。 Python 是 Ruby 更为明智的姐姐。她优雅、漂亮、成熟。她或许是太完美了。大多数男人会喜欢说“哥们，你怎么会不喜欢 Python 呢！？”。是的，你是喜欢 Python。你是把当做了既不急躁也不很浪漫的 Ruby。（You just consider her the boring version of the edgy ａｎｄ romantic Ruby） 嘉娃（Java） 是一位成功的职场女性。有些和她一起共事的人认为，之所以她可以在她那个岗位，虽然能力有所欠缺，但她给中层管理人员留下了好印象。或许你认为她是那种明智类型的，你应当和她一起定居。不过你要准备好在多年之中听不到“接口类型错误、遗漏分号”这样的絮叨。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	熙佳佳（C++）是 Java 的表姐妹。和 Java 有很多共同点，不同的是，熙佳佳成长于更纯真的年代，她不相信要用“保护制度（protection）”。“保护制度”，我当然是在说自动内存管理。难道你以为我在说其他意思么？ C 是 C++ 的妈妈。如果你和一些胡须泛白的老黑客说起她的大名，他们肯定双眼一亮，然后开始忆初了。:) Objective- C 是 C 家庭的另一成员。她去一个奇特教堂回来后，就不和外面其他人约会了。 Haskell、Clojure、Scheme 和她们的朋友都是一些爱时髦、有艺术气、聪明的妹纸。或许在多年前，你在学校就和她们一起度过了一个美好的夏天。她们是第一批让你觉得有挑战的妹纸。当然，尽管你总是自问“如果 … 将会怎么样”，但你或许从没有想要严肃对她， 你或许会推迟和 C# 的约会，是因为她家名誉有问题。但她们会告诉你，这些年来，她们已经洗掉臭名。一旦你加入我们，你就是我们的一员了，你听到了吧？你需要一个数据库？她哥哥 MSSQL 会钩住你。你需要一个住的地方？哎呀，她爸爸甚至可以给你在 Azure 大道上买套公寓。怎么样，莫非你对她们这些过度热心的亲戚有其他想法？不，你不能离开。你现在已经是她们的家庭成员，亲，听到了不？ Javascript - 嘿，这不就是那个拿下你初吻的妹纸么，甚至比 PHP 还早出现。我不知道她现在在做什么。听说她近几年事业飞黄腾达了。赶上时候，旧人也能焕发光彩……（你能看到她从头到脚穿着 jQuery 设计师设计的东西）……哇，有人变成白天鹅啦…… (*^__^*)
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	Tamil Selvan 的回复 （他是 Common Lisp 程序员） C -&gt; 微调后的引擎 C++ -&gt; 能赚大钱 Java -&gt; 可从银行拿回我们的钱 Python -&gt; 童谣 (甚至老者都能从中发现智慧…) Ruby -&gt; 可从风投人那拿到钱 PHP -&gt; 用于夫妻店 Erlang -&gt; 可同时做多件事 Perl -&gt; 和管道胶带类似 Common Lisp -&gt; 可用其做任何事情，但且不知该做什么 Haskell -&gt; 数学系的家伙喜欢用 OCaml -&gt; 搞编译器设计的家伙喜欢用 Objective -C -&gt; 乔布斯粉丝所用 JavaScript -&gt; 做网页的，到处都在用 C# -&gt; 针对那些对 IT 无头绪的人的解决方案（相信 MS 会照顾好你，而不是你自己） Scala -&gt; 有人（paul graham）说 Java 有点 disciplinarian ，所以有极客想改变形象，他们就发明了 Scala。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
