
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news3_1.html'">知识分享 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">linux的主机管理系统LuManager 中文名称走自己的路</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2013-07-09</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	使用HttpOS2.2可轻易架设PHP+MySQL网站环境，已经集成在线管理软件LuManager和网站环境LuNamp（完全免费），可自由切换Nginx,Apache,Tengine(淘宝开发的WEB服务器软件)，最快1秒钟即可安装好Discuz、Phpwind、Shopex、ECShop、Wordpress、Dedecms、PHP168等常用php+mysql结构程序。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	HttpOS网站操作系统的特点 * 使用HttpOS并不需要输入大量命令，安装它只需要选一个数字，搭配LuManager使用，让不懂任何命令的朋友都可以使用优秀的Linux系统 安装时的选项菜单 * 已经集成LuManager2.0.85正式版——LuManager是一个傻瓜化的PHP+MySQL网站环境管理软件，可通过网页管理Linux/Unix系统，完美支持Discuz、Phpwind、Shopex、ECShop、Ecmall、Wordpress、Dedecms、PHP168、CmsTop等常用程序。 LuManager在线演示：http://demo.zijidelu.org:8888（用户名：zijidelu，密码：zijidelu）； * 优化过的干净的Linux系统，与LuNamp和LuManager完美兼容，安全快速。 * 系统使用目前最新的组件，不用升级即可投入生产环境（不连接外网也可以使用）。 * 安装成功后，通过IP便可以访问LuManager管理面板，使用“快速建站”功能，可以瞬间建立一个集FTP，虚拟主机，mysql的网站，通过FTP上传程序后便可以安装使用！ 快速建网站，支持Discuz、Phpwind等常用的PHP+MySQL架构程序的快速安装
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	通过LuManager创建的新网站 使用Linux/Unix的案例： 阿里巴巴、淘宝、新浪、网易、腾讯、搜狐、百度、优酷等大访问量的网站，工商银行、建设银行、支付宝等要求高度安全的交易网站，绝大多数甚至全部使用的是Linux/Unix服务器。网易创始人丁磊起家的时候，用的就是Unix系统（FreeBSD），可以看看他写的《PC不只是便宜的工作站》。 Linux/Unix系统的特征如下： 1. 免费：多数系统都是可以免费下载的，如HttpOS/FreeBSD/CentOS/Debian/Ubuntu等。 2. 开源：作为普通用户，我们不必懂。这是集成了全世界很多高手的智慧也开发的系统，一旦发现漏洞，会及时打补丁。 3. 安全：病毒对这些开源系统几乎无计可施，如果不是网站程序本身或FTP密码被盗，网站被挂木马的可能性非常小。 4. 高效：不管是LAMP还是LNMP、FAMP、FNMP，效率都非常不错，在这里，我们懒得拿别的组合来比，哈哈… 5. 稳定：两年不重启是常有的事；很久不用管而忘记服务器密码也不是什么新鲜事；在这里不得不提一下FreeBSD，它是被称作坚如磐石的稳定系统。 6. 轻便：最小化安装FreeBSD（属Unix分支）后，占用的磁盘空间只有125M左右！安装速度也快，5分钟便可以将系统装好。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
