
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news4_1.html'">成功故事 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">最年轻的10亿美金俱乐部成员：Slack凭什么快速崛起？</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2014-11-01</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	两年以前，Slack这个团队还没有成立。现在作为一款企业协同工具，Slack已经是全球商用领域顶尖的创业公司之一了。 Slack刚刚结束一轮1.2亿美金的融资，由Kleiner Perkins Caufield &amp; Byers和GoogleVentures领投，此前的投资人跟投。公司目前的整体估值达到11.2亿美金。看看Slack的价格和投资人清单，它已经是类似Nest这样的明星企业了。 而此时，距离它旗下的唯一一款产品上线还不到1年。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	速成法则
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	Slack可以理解成是一款通讯应用，它的作用是试图取代小团队间协作频繁的邮件。目前Slack拥有26.8万的日活用户，并且在过去几个月内快速翻番。 Slack如此迅速地晋身10亿美金俱乐部，部分原因也是当前的投资环境。资金之间的激烈竞争会迅速抬高公司的估值。 知名投资人Doerr表示这一轮的竞争非常激烈，并且当时Slack其实并不需要太多的资金，这轮融资主要是资本的需求推动的。 “大家现在都认为现在是融资的好时机，因为环境够好并且你的资金需求也不迫切”，Slack CEO Stewart Butterfield说，“这就是科技圈的2014年。”
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	Butterfield在2009年创立游戏制作商Tiny Speck，之后联合创立了图片分享网站Flickr。去年他开始转型做Slack，这款产品13年8月内测，今年2月公测。 如果单单指Butterfield团队开发Slack的时间，他们可能是全球最快跻身10亿美金的创业公司。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	在Slack之前，YouTube在2年不到时间被Google 16.5亿美金买走；Groupon在创立17个月后估值达到13.5亿美金；Yammer在2014年以12亿美金卖给了微软。另外Yammer创始人David Sacks也参与了Slack本轮。 Slack在企业协同上的尝试之前也有不少同类公司涉足过。比如Yammer的竞争对手Jive曾经一度估值超过10亿美金，但随着企业对公司版Facebook热度的降低，现在Jive的股票价格不及2012年的1/4。 Slack虽然发家于硅谷，但Butterfield表示现在他们的用户已经不再限于科技圈内。比如一家儿童医院St. Jude’s以及慈善组织Charity Wayer都在用他们的产品。Slack的早期用户一般都是设计师和工程师的小团队，他们一直也没有投入任何市场费用，主要靠用户的口碑传播。 Slack对普通用户都是免费的，此外通过一些增值的功能项企业收取每月至少7美金的费用。在目前Slack的用户中，7.3万人是付费用户（占到总用户数目的27%），公司的营收每年增长100万美金。 Slack到目前一共融资1.8亿美金。等到这轮资金到位后，Butterfield准备增加市场人员和推广的投入，否则这笔钱他们得花上好长时间。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
