
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">阿里未来的15年:马云押宝大数据</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2014-11-17</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	阿里巴巴的上市让马云成功登上中国财富状元，但他却称“连自己小区的首富都不想当”。马云表示，阿里上市后服务中小企业的初衷不会改变，会和千千万万个“小人物”共同成长。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	经历过上市喜悦的马云已经在思考阿里的下一个15年，追求健康和快乐成为围绕这个生态的下一个目标，而这些梦想的实现离不开未来最核心的东西——数据。大与小、分与合的绝妙。上市当日，马云亲手将一个景泰蓝版本的淘公仔送给纽交所，他想向外界表达的意思是，powerofsmallguys，即小企业(小人物)的力量。这些小企业、中小卖家是15年来支撑阿里巴巴发展壮大的基石。这或许正契合了马云所谓的“小而美”理念，不起眼的小人物，未来可能会成长为改变世界的人。值得关注的是，阿里巴巴在上市后动作频频，这些动作背后又蕴藏着分与合的逻辑。比如淘宝旅行分拆，以“去啊”品牌独立深耕在线旅游市场，互联网金融业务以蚂蚁金服独立运营，这是品牌和架构上的“分”;而阿里无线启动开放战略，通过开放旗下的电商生态和云计算平台聚揽移动开发者，通过移动操作系统YunOS3.0打通产业链上下游，这又是生态系统上的“合”。马云此前用了15年构建阿里巴巴的生态系统，站在今天回顾这个过程，其中蕴藏着自身裂变和生态聚变的哲学。马云之所以喜欢称阿里为生态，是因为生态的演变是一个自然的过程，水、空气、土壤等无机环境，生产者、消费者、分解者相互协同，生态一旦成型，物种便在自然规律下繁衍，生生不息。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	下一个15年。马云在今年年初说，以控制为出发点的IT时代正在走向以激活生产力为目的的DT(datatechnology)数据时代。从眼下互联网对各类传统行业的改造步伐中不难看出，数据无疑是其中的核心基础。进入11月份，他在公司内部讲话中的最新说法是，“未来几年内，要把一切业务数据化，一切数据业务化。”后边这句话可以理解为，让阿里巴巴各项业务所产生、积累的大数据来丰富阿里的生态，同时让生态蕴含的数据产生新的价值，再反哺生态，这是一个相辅相成的循环逻辑。在云计算领域的预判和布局，让阿里巴巴在下一代IT变革的浪潮中与世界顶级的互联网公司站到了一起。如果换一个角度理解，那么阿里巴巴现在已经成为一家全球最大的商业数据公司。最近在阿里巴巴内部流传着一张图，可以视为上市后对未来公司架构的一次重新定位。图片最中央的三角形是“数据”，围绕着数据，“电商”、“金融”、“物流”呈品字形排列，这个大三角形的外围是一个圆，圆内左边是“健康”，右边是“快乐”，圆圈内的最下方是“全球化”。从这张图看，阿里的未来再清晰不过。依托于云计算的大数据是未来阿里巴巴一切业务的核心，金融和物流好比左膀右臂，辅佐塔尖上的电商生态，这个三角形区域再向外延伸，形成一个象征和美的圆，健康(比如投资中信21等医疗领域布局)和快乐(阿里的数字娱乐、影视文化)将是阿里未来投资和布局的两个方向与诉求，而这一切都是放在全球化的视野下通盘考虑的。在未来的投资方向中，马云说：“在中国，环境问题、污染的水和空气、不安全的食物，会让我们在十年后付出代价，我们应该投资这些。我也不希望我们有个浅薄的脑袋，所以我们要投资文化产品。如果不做这些，十年后我们会陷入麻烦。”　“今天很残酷，明天更残酷，但是后天很美好。”马云一直用这句话鼓励自己，他把此前15年的成功归结于坚持，并将上市视为一个新的起点，阿里的下一个15年，正带着“小人物”们的梦想起航。马云接受吴小莉采访。谈到数据时代的核心不是分析数据，而是分享数据。信息时代是基于我比别人聪明的基础上面的。数据是相信别人比我聪明，你把原始数据交给别人了，让比你聪明的人去处理，数据还很有意思的一个现象，数据是越用越值钱。吴小莉：在互联网技术的突破之下，这么多年我们一直谈信息经济，它有一个很大的原因，是因为它的数据，我们来看一个数据的神奇力量。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
