
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于NAK</title>
<link href="/static/images/default.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/about.js" ></script>
<!--公司刊物翻页控件-->
<link rel="stylesheet" type="text/css" href="/static/css/flipsnapMenu.css"/>
<script type="text/javascript" src="/static/js/flipsnap.js"></script>
<script type="text/javascript" src="/static/js/periodicalSlide.js"></script>
</head>

<body style="overflow-x:hidden;">
<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
        <li onClick="window.location='index.html'">首 页</li>
        <li onClick="window.location='about.html'"  class="select">关于NAK</li>
        <li onClick="window.location='news.html'">公司新闻</li>
        <li onClick="window.location='product.html'">产品中心</li>
        <li onClick="window.location='service.html'">服务专区</li>
        <li onClick="window.location='hr.html'">人力资源</li>
        <li onClick="window.location='contect.html'">联系我们</li>
    </ul>
</div>
    <div class="aboutMenu">
        <ul>
            <li the-id="a" class="select">
                <span class="productIcon"></span><h1>公司简介</h1>
            </li>
            <!--<li the-id="b">
                <span class="historyIcon"></span><h1>发展历程</h1>
            </li>
            <li the-id="c">
                <span class="organIcon"></span><h1>组织结构</h1>
            </li>-->
            <li the-id="d">
                <span class="cultureIcon"></span><h1>企业文化</h1>
            </li>
            <li the-id="e">
                <span class="honorIcon"></span><h1>荣誉资质</h1>
            </li>
            <li the-id="f">
                <span class="photoIcon"></span><h1>凯通风采</h1>
            </li>
            <li the-id="g">
                <span class="publicationIcon"></span><h1>凯通生活</h1>
            </li>
        </ul>
    </div>
  <div id="a">
    <div class="middle1280">
        <div class="intrdutLeft">
            <p style="padding-left:120px;">凯通源于信产部电信科学研究院软件开发中心，成立于2000年，总部在国家级经济开发区——广州科学城，在北京等地有4个分公司、12个技术支持中心。</p>
            <p>十几年的积淀，目前公司超过80%人员为技术研发人员，凯通是国内顶尖的物联网运营支撑解决方案、大数据挖掘应用解决方案和企业信息化解决方案的咨询专家和系统集成商。</p>
            <p style="padding-left:120px;">凯通自主研发了物联网智能采集引擎、移动应用管理引擎、大数据引擎等六大核心产品，拥有3项国家发明专利、1项国家重点新产品、53项软件著作权、24项软件产品证书。</p>
            <p>凯通核心业务覆盖电信、移动、联通、电力、教育、政府、广电、水利等，为全国二十个省市通信运营商、电网、大型企业提供业务平台支撑、移动应用开发和系统集成方案。</p>
        </div>
    </div>
    <!--<div class="tuangduiDiv">
        <div class="middleDiv">
            <div class="tuangduiTitle">NAK科技十五载的厚积薄发，打造了一支通力协作、<br/>
    平等互信的战斗团队，凝聚了一批开拓进取、求索奋斗的专家精英。</div>
            <div class="bili"></div>
        </div>
    </div>-->
 </div>
    <!--<div class="intrdutDiv" id="b">
        <div class="intrdutTitle">不断创新的发展历程</div>
        <div class="fazhang"><h2>我们有</h2><h1>15</h1><h2>年的历史，我们愿与客户合作更多个</h2><h1>15</h1><h2>年。</h2>
        </div>
        <div class="fazhangYear">
            <p style="float:right;"><span style="left:-15px;"></span>凯通软件正式成立，成为国内最早一批从事通信信息管理研究和软件开发的企业。</p>
            <p style="float:left;margin-top:80px;"><label style="right:-15px;"></label>凯通SDH集中监控系统获得了广东电信科技进步一等奖，奠定了公司在运营支撑领域的坚实基础。</p>
            <p style="float:right;margin:70px 90px 0 0;"><span style="left:-15px;"></span>首获高新技术企业认定证书、软件企业认定证书。</p>
            <p style="float:left;margin-top:80px;"><label style="right:-15px;"></label>综合网管系统产品通过中国电信集团严格测试，在广东电信全面推广，确立电信市场基础地位。</p>
            <p style="float:right;margin-top:100px;"><span style="left:-15px;"></span>逐步丰富OSS产品线，在广西电信、浙江电信、河北网通、广东移动等新市场领域取得突破。</p>
            <p style="float:left;margin:80px 0 0 24px;"><label style="right:-15px;"></label>通过ISO质量管理体系认证，正式迈向规范化和规模化管理。</p>
            <p style="float:right;margin-top:80px;"><span style="left:-15px;"></span>形成完整的OSS产品架构，成为中国电信OSS领域重要合作伙伴，同时通过计算机信息系统集成企业资质、CMMI3认证。</p>
            <p style="float:left;margin-top:90px;"><label style="right:-15px;"></label>在浙江移动和广东电网取得全新的骄人业绩，实现跨行业的市场突破。</p>
            <p style="float:right;margin-top:80px;"><span style="left:-15px;"></span>在北京、浙江、广西等地设立分公司或办事处，正式开始面向全国的市场化运营；</p>
            <p style="float:left;margin-top:90px;"><label style="right:-15px;"></label>被认定为广东省软件和集成电路设计百强培育企业、广州市重点软件企业，成为独具特色的明星企业。</p>
            <p style="float:right;margin-top:80px;"><span style="left:-15px;"></span>公司乔迁搬入自有办公楼，在苏州广电、重庆电信、黑龙江电信、天津移动、南方航空、浙江大学、某部队等领域全国和全行业取得跨越式的全面突破。</p>
        </div>
    </div>-->
    <!--<div class="middleDiv" id="c">
    	<div class="intrdutTitle">组织架构</div>
        <div class="organization"></div>
    </div>-->
    <div class="tuangduiDiv" id="d">
        <div class="middleDiv">
        	<ul class="culture">
            	<!--<li><h1>一个中心</h1><h2>凯通团队秉承以客户价值为中心</h2></li>
                <li style="padding-left:40px;"><h1>两个基本点</h1><h2>坚持诚信经营、细致服务</h2></li>
                <li style="margin-bottom:0;"><h1>三项基本原则</h1><h2>在共创、共享、共赢原则指导下不断创新，不断为客户创造更大价值</h2></li>-->
            </ul>
        </div>
    </div>
    <div class="intrdutDiv" id="e">
        <div class="intrdutTitle">资质荣誉</div>
        <div class="fazhang" style="width:500px;line-height:30px;padding-top:10px;"><h2>我们目前共拥有大小知识产权</h2><h1>81</h1><h2>项，企业资质证书</h2><h1>14</h1><h2>项，</h2></div>
        <div class="fazhang" style="width:250px;line-height:30px;clear:right;"><h2>并且荣获超过</h2><h1>13</h1><h2>项荣誉资格。</h2></div>
        
        <div class="zhizhi zhizhi1"></div>
        <div class="zhizhi zhizhi2"></div>
        <div class="zhizhi zhizhi3"></div>
        <div class="middleDiv" style="position:relative;height:650px;">
            <div class="honorList" style="left:0;top:0;">
                <h1 class="one">企业资质</h1>
                <ul class="zhiList">
                   <li><span>1</span><h2>CMMI5认证</h2></li>
                   <li><span>3</span><h2>ISO9001质量管理体系认证</h2></li>
                   <li><span>4</span><h2>信息系统集成及服务二级资质</h2></li>
                   <li><span>5</span><h2>信息系统业务安全服务二级资质</h2></li>
                   <li><span>6</span><h2>涉密信息系统集成甲级资质</h2></li>
                    <li><span>7</span><h2>涉密信息系统软件开发甲级资质</h2></li>
                    <li><span>8</span><h2>增值电信业务经营许可证</h2></li>
                    <li><span>9</span><h2>国家规划布局内重点软件企业</h2></li>
                    <li><span>10</span><h2>广东省高新技术企业证书</h2></li>
                    <li><span>11</span><h2>广东省重点软件企业证书</h2></li>
                    <li><span>12</span><h2>广州市重点软件企业证书</h2></li>
                    <li><span>13</span><h2>广东省工程技术研究中心</h2></li>
                    <li><span>14</span><h2>广州市企业研发机构</h2></li>
                    <li><span>15</span><h2>广州市众创空间</h2></li>
                </ul>
            </div>
            <div class="honorList" style="left:350px;top:0;">
                <h1 class="two">荣誉资格</h1>
                <ul class="zhiList">
                   <li><span>1</span><h2>广东省软件产业百强培育企业</h2></li>
                   <li><span>2</span><h2>广州开发区瞪羚企业</h2></li>
                   <li><span>3</span><h2>广东省中小企业发展促进会理事</h2></li>
                   <li><span>4</span><h2>广东省软件行业协会会员</h2></li>
                   <li><span>5</span><h2>广州市软件行业协会常务理事</h2></li>
                   <li><span>6</span><h2>信息通信大数据产业联盟会员</h2></li>
                   <li><span>7</span><h2>企业信用评价AAA级信用企业</h2></li>
                   <li><span>8</span><h2>劳动保障A级诚信企业</h2></li>
                    <li><span>9</span><h2>广东最佳电信服务外包企业</h2></li>
                    <li><span>10</span><h2>中国创新创业大赛全国优秀企业</h2></li>
                    <li><span>11</span><h2>中国创新创业大赛广东省二等奖</h2></li>
                    <li><span>12</span><h2>中国移动浙江公司优秀供应商</h2></li>
                    <li><span>13</span><h2>中国电信广东公司优秀合作伙伴</h2></li>
                </ul>
            </div>
            <div class="honorList" style="right:0;top:0;">
                <h1 class="tree">知识产权</h1>
                <ul class="zhiList">
                   <li><span>1</span><h2>2项国家发明专利</h2></li>
                   <li><span>2</span><h2>5项实用新型专利</h2></li>
                   <li><span>3</span><h2>65项软件著作权</h2></li>
                   <li><span>4</span><h2>28项软件产品登记证书</h2></li>
                   <li><span>5</span><h2>7项高新技术产品登记证书</h2></li>
                </ul>
            </div>
        </div>
    </div>
 <div id="f">
    <div class="middleDiv">
        <div class="intrdutTitle">凯通风采</div>
        <div class="fazhang" style="width:450px;line-height:30px;padding-top:10px;"><h2>我们目前现有员工近</h2><h1>500</h1><h2>人，产品研发团队超过</h2><h1>350</h1><h2>人</h2></div>
        <div class="fazhang" style="width:300px;line-height:30px;clear:right;"><h2>没有你们，没有他们，只有我们！</h2></div>
    </div>
    <ul class="styleMember">
    	<li class="blue"><h1>年 会</h1></li>
        <li class="quwei2015"><h2>2015年趣味运动会</h2></li>
        <li class="zhoulian"><h2>公司成立10周年庆</h2></li>
        <li class="qiaoqian"><h2>公司乔迁科学城</h2></li>
        <li class="lianhui2014"><h2>2014年会</h2></li>
        <li class="shanqing"><h2>三清山婺源</h2></li>
        <li class="zhangjia"><h2>凤凰张家界</h2></li>
        <li class="yingde"><h2>三部活动英德</h2></li>
         <li class="yellow"><h1>旅 游</h1></li>
        <li class="yunnan"><h2>云南旅游</h2></li>
        <li class="party"><h2>生日会</h2></li>
        <li class="party1"><h2>生日会</h2></li>
        <li class="party2"><h2>生日会</h2></li>
        <li class="red"><h1>生日会</h1></li>
        <li class="bangjiang"><h2>优秀员工颁奖</h2></li>
        <li class="zhongzhi"><h2>包粽子活动</h2></li>
        <li class="zhongqiu"><h2>中秋游园</h2></li>
        <li class="zhuqiu"><h2>足球比赛</h2></li>
        <li class="nanqiu"><h2>篮球比赛</h2></li>
        <li class="yumaoqiu"><h2>羽毛球比赛</h2></li>
        <li class="blue"><h1>趣味活动</h1></li>
        <li class="bahe"><h2>拔河</h2></li>
        <li class="jingzhou1"><h2>竞走</h2></li>
        <li class="jingzhou2"><h2>竞走</h2></li>
        <li class="green"><h1>户外拓展</h1></li>
        <li class="huwai"><h2>户外拓展</h2></li>
        <li class="yellow"><h1>研讨会</h1></li>
        <li class="yuantaohui"><h2>研讨会</h2></li>
    </ul>
 </div>
    <div class="intrdutDiv" id="g">
        <div class="intrdutTitle">凯通生活</div>
        <ul class="periodical">
        
        </ul>
    </div>
    
<iframe frameborder="0" class="footerFrame" scrolling="no"  src="footer.html"></iframe> 
    
<!--当页面出现滚动条时返回头部的的按钮-->
<div class="gotoTop" title="回到顶部"></div>
</body>
</html>
