
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们</title>
<link href="favicon.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<!--百度地图-->
<link rel="stylesheet" href="/static/css/contenctMap.css" />
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<body style="overflow-x:hidden;">
<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
        <li onClick="window.location='index.html'">首 页</li>
        <li onClick="window.location='about.html'">关于汉森</li>
        <li onClick="window.location='news.html'">公司新闻</li>
        <li onClick="window.location='product.html'">产品中心</li>
        <li onClick="window.location='service.html'">服务专区</li>
        <li onClick="window.location='hr.html'">人力资源</li>
        <li onClick="window.location='contect.html'"  class="select">联系我们</li>
    </ul>
</div>
<div class="intrdutDiv">
	<div class="middleDiv" style="padding:0;">
    	<ul class="phone">
        	<li>电话：020-6232-3168</li>
            <li>传真：020-6684-3218</li>
            <li>网址：www.ctt-net.com</li>
            <li>邮箱：hr@gdcattsoft.com</li>
        </ul>
        <ul class="dress">           
        	<li>广州总部：广州市萝岗区科学大道中99号科汇金谷三街12号9至11楼</li>
            <li>北京分公司：北京市西城区北三环中路27号商房大厦512室<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京市西城区广城街4号金宸国际公寓3号楼402室  </li>
            <li>长沙分公司：长沙市岳麓区麓景路2号长沙生产力促进中心创富楼5楼</li>
            <li>杭州分公司：杭州市江干区城星路111号钱江国际时代2号楼1007室</li>
        </ul>
        <div class="qrcodeContect">
        	<h1>商务微信</h1><h2>扫描二维码即可咨询</h2>
        	<img src="/static/images/hs_wx_person.jpg"/>
        </div>
    </div>
</div>


<!--百度地图容器-->
  <div class="contentMap" id="gzditu"></div>
  <script type="text/javascript" src="/static/js/contenctMap.js"></script>
  
    
<iframe frameborder="0" class="footerFrame" scrolling="no"  src="footer.html"></iframe> 
    
<!--当页面出现滚动条时返回头部的的按钮-->
<div class="gotoTop" title="回到顶部"></div>
</body>

</html>
