
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>人力资源</title>
<link href="favicon.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<script type="text/javascript" src="/static/js/hr.js" ></script>

</head>

<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于汉森</li>
	    		<li onClick="window.location='news.html'" class="">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='hr.html'" class="select">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="hrmenuDiv">
	<ul class="hrMenu">
    	<li class="zhiweiIcon select">招聘岗位</li>
        <li class="fuliIcon">公司福利</li>
        <li class="zhanglieIcon" style="width:auto;">人才战略</li>
    </ul>
</div>

<div class="tabMain">

	<div class="jobfunDiv">
	    <ul class="jobFunction">
		    		<!-- 选中菜单 -->
		    		<li class = "select">技术类</li>
		    		<li>销售类</li>
		    		<li>职能类</li>
		    		<li style="border-right:1px solid #dfdfdf;">校园招聘</li>
	    </ul>
	</div>
	
	<div class="tabSecond">
		<ul class="jobList" id="itemContainer">
<li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>需求<br/>/售</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103798.html')">中级售前工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103798.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">佛山市禅城区</div> -->
    <div class="jobDep"><span>中级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103797.html')">中级软件开发工程师（佛山）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：佛山市禅城区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103797.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市海淀区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103796.html')">中级软件开发工程师（北京）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市海淀区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103796.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">南宁市青秀区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103795.html')">中级技术工程师（南宁）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：南宁市青秀区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103795.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103794.html')">中级技术工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103794.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市海淀区</div> -->
    <div class="jobDep"><span>需求<br/>分析</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103793.html')">需求分析师（北京）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市海淀区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103793.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>需求<br/>分析</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103792.html')">需求分析师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103792.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">新疆乌鲁木齐</div> -->
    <div class="jobDep"><span>项目<br/>主管</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103786.html')">项目主管</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：新疆乌鲁木齐&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103786.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>项目<br/>主管</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103785.html')">项目主管</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103785.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>产品<br/>经理</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103784.html')">物联网安全产品经理</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103784.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>产品<br/>经理</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103783.html')">无线网优产品经理</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103783.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>需求<br/>/售</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103779.html')">售前工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103779.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市西城区</div> -->
    <div class="jobDep"><span>需求<br/>/售</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103780.html')">售前工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市西城区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：5-7年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103780.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>嵌入<br/>式软</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103778.html')">嵌入式软件工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103778.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>UI<br/>设计</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103777.html')">前端设计师/网页设计师/UI设计师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103777.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>we<br/>b开</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103776.html')">前端开发工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103776.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">重庆市渝中区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103774.html')">技术工程师（重庆）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：重庆市渝中区&nbsp&nbsp&nbsp&nbsp学历要求：1年&nbsp&nbsp&nbsp&nbsp 工作经验：大专</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103774.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">湖北省武汉</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103773.html')">技术工程师（武汉）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：湖北省武汉&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103773.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">上海市黄浦区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103772.html')">技术工程师（上海）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：上海市黄浦区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103772.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">南宁市青秀区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103771.html')">技术工程师（南宁）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：南宁市青秀区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103771.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">南昌市东湖区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103770.html')">技术工程师（南昌）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：南昌市东湖区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：应届毕业-1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103770.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">昆明市拓东路</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103769.html')">技术工程师（昆明）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：昆明市拓东路&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103769.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市西城区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103768.html')">技术工程师（北京）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市西城区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103768.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103767.html')">技术工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103767.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103766.html')">技术工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103766.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>大数<br/>据开</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103765.html')">大数据工程师 (高级)</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103765.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">杭州市江干区</div> -->
    <div class="jobDep"><span>技术<br/>/维</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103764.html')">技术工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：杭州市江干区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103764.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>大数<br/>据开</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103763.html')">大数据工程师 (高级)</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103763.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>产品<br/>经理</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103762.html')">产品经理</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：5-7年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103762.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>软件<br/>开发</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103761.html')">java工程师（长沙）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103761.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>高级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103760.html')">java 高级工程师（J2EE/J2SE）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103760.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>UI<br/>设计</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103759.html')">UI设计师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103759.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>UI<br/>设计</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103758.html')">UI设计师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103758.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>产品<br/>经理</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103757.html')">SDN/NFV产品经理</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103757.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>中级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103756.html')">Java 中级开发工程师（J2EE/J2SE）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103756.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>中级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103755.html')">Java 中级开发工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103755.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>高级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103753.html')">AI开发工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103753.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>软件<br/>开发</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103751.html')">C++初级软件开发工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103751.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙-岳麓区</div> -->
    <div class="jobDep"><span>高级<br/>软件</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103752.html')">Java 高级工程师（J2EE/J2SE）</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙-岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103752.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>软件<br/>开发</span></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103754.html')">Java 工程师</h1>
        <p>所属部门：产品研发中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年以上</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103754.html')">详情</button>
 </li>	     </ul>
	</div>
	
	<div class="tabSecond" style="display:none;">
		<ul class="jobList" id="itemContainer">
<li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>销售<br/>总监</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103791.html')">销售总监</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103791.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">湖北省武汉</div> -->
    <div class="jobDep"><span>销售<br/>总监</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103790.html')">销售经理/总监（运营商行业）</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：湖北省武汉&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103790.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">长沙市岳麓区</div> -->
    <div class="jobDep"><span>销售<br/>总监</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103789.html')">销售经理/总监（运营商行业）</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：长沙市岳麓区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103789.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">广州市黄埔区</div> -->
    <div class="jobDep"><span>销售<br/>经理</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103788.html')">销售经理</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：广州市黄埔区&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：1年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103788.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">内蒙古呼和浩特</div> -->
    <div class="jobDep"><span>销售<br/>总监</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103782.html')">水利行业销售总监</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：内蒙古呼和浩特&nbsp&nbsp&nbsp&nbsp学历要求：大专&nbsp&nbsp&nbsp&nbsp 工作经验：2年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103782.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市西城区</div> -->
    <div class="jobDep"><span>销售<br/>总监</span><label></label></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103781.html')">水利行业销售总监</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市西城区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：3-4年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103781.html')">详情</button>
 </li><li>
	<!-- <div class="jobTime">北京市西城区</div> -->
    <div class="jobDep"><span>销售<br/>总监</span></div>
    <div class="jobContent"><h1 onClick="window.open('jobDetail/jobDetail_103775.html')">联通行业销售总监</h1>
        <p>所属部门：营销中心&nbsp&nbsp&nbsp&nbsp工作地点：北京市西城区&nbsp&nbsp&nbsp&nbsp学历要求：本科&nbsp&nbsp&nbsp&nbsp 工作经验：8-9年</p>
    </div>
    <button onClick="window.open('jobDetail/jobDetail_103775.html')">详情</button>
 </li>	     </ul>
	</div>
	
	<div class="tabSecond" style="display:none;">
		<ul class="jobList" id="itemContainer">
	     </ul>
	</div>
	
	<div class="tabSecond" style="display:none;">
		<ul class="jobList" id="itemContainer">
	     </ul>
	</div>
	
</div>


<div class="tabMain" style="display:none;">
	<div class="welfareDiv"> 我们为员工提供富有竞争力的薪酬体系和一系列的福利保障，为员工创造良好的工作环境，让员工能够充分发挥个人潜力、提升业绩水平。除此以外，员工还可以获取大量的培训学习、职业发展及创业的机会。</div>
    <div class="middleDiv">
        <div class="tixi">
            <div class="one"></div>
            <h1>我们的薪酬福利体系基于两个原则</h1>
    		<ul class="zhiList" style="float:left;">
               <li><span>1</span><h2>绩效导向及保持市场竞争力；</h2></li>
               <li><span>1</span><h2>员工的薪酬水平与个人绩效及公司整体业绩挂钩，始终保持在IT行业中具备竞争力。</h2></li>
            </ul>
        </div>
        <div class="tixi" style="margin:100px 0 20px 0;">
            <div class="two"></div>
            <h1 style="padding-top:10px;">关注员工生活的各项保障，制定了丰富多样的综合福利</h1>
        </div>
        <div class="welfareList">
        	<div class="hrPic"></div>
            <ul class="zhiList" style="float:left;">
               <li><span>1</span><h2>具竞争力的薪酬，提供广阔的个人发展空间；</h2></li>
               <li><span>2</span><h2>人性化管理，弹性上班时间；</h2></li>
               <li><span>3</span><h2>协助办理广州市户口；</h2></li>
               <li><span>4</span><h2>为全体员工交纳六险一金和商业医疗保险；</h2></li>
               <li><span>5</span><h2>为保证员工健康，公司每年安排体检；</h2></li> 
               <li><span>6</span><h2>每年带薪年假，每月带薪病假；</h2></li> 
               <li style="padding-bottom:10px;"><span>7</span><h2>丰富多彩的娱乐体育活动。</h2></li> 
               <li style="padding-top:10px;"><h3>......</h3></li> 
            </ul>
        </div>
    </div>
    <div class="intrdutDiv">
    	<ul class="welfareYuan">            
        	<li class="hejing">节庆贺金</li>
            <li class="wenhua">文化活动</li>
            <li class="luyou">团队聚餐</li>
            <li class="juchang">项目组旅游</li>
            <li class="jianshen">有健身房</li>
            <li class="jiankang">每天做健康操</li>
            <li class="peixun">新员工培训指导</li>
        </ul>
    </div>
</div>
<div class="tabMain" style="display:none;">
	<div class="hrTrain">
    	<h1>在凯通，你可以得到这些培训 !</h1>
        <ul>
        	<li class="talentBlue"><h2>新员工入职</h2><p>一对一传授+双向选择</p></li>
            <li class="talentYellow"><h2>一至两年工作经验</h2><p>横轮岗+新项目+外派学习</p></li>
            <li class="talentGreen"><h2>晋 升</h2><p>挂职锻炼+参与大型项目</p></li>
            <li class="talentPurple"><h2>三年后</h2><p>复合型+经营型人才培养</p></li>
        </ul>
    </div>
    <div class="intrdutDiv">
    	<div class="fuheTalent">
        	<h1>在凯通，你的未来可以是这样 !</h1>
            <ul>
                <li class="talentyuanBlue"><h2>专家型人才</h2><p>横向岗位轮岗+新项目学习<br/>+一对一指导+外派学习<br/>+继续教育 </p></li>
                <li class="talentyuanGreen"><h2>管理型人才</h2><p>横向轮岗+大型项目参与<br/>+外派学习/继续教育</p></li>
                <li class="talentyuanYellow"><h2>复合型人才</h2><p>横向轮岗+挂职锻炼+<br/>新项目学习+外派学习<br/>+继续教育</p></li>
                <li class="talentyuanRed"><h2 style="font-size:30px;">Be a Boss</h2><p>开放平台+自主创新
<br/>+支持创业</p></li>
            </ul>
        </div>
    </div>
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
