
<!doctype html>
<html>
{#http://www.gdcattsoft.com/images/talentYellow.png#}
<head>
<meta charset="utf-8">
<title>衢州NAK科技有限责任公司</title>
<link href="/static/images/default.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<!--banner滚动控件-->
<script type="text/javascript" src="/static/js/bannerSlide.js" ></script>
<!--成功客户翻页控件-->
<link rel="stylesheet" type="text/css" href="/static/css/flipsnapMenu.css"/>
<script type="text/javascript" src="/static/js/flipsnap.js"></script>
<script type="text/javascript" src="/static/js/userSlide.js"></script>
</head>

<body style="overflow-x:hidden;">

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='index.html'" class="select">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<li onClick="window.location='news.html'" class="">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div id="picture" class="bannerbg01">
	<div class="sliderbannerpic" id="focus">
		<ul id="pics" class="pic_change">
			<li class="banner01"></li>
			<li class="banner02"></li>
			<li class="banner03"></li>
			<li class="banner04"></li>
		</ul>
	</div>
	<div class="slidertextright">
		<div class="dian">
			<ul class="sliderbt">
				<li><a rel="0" hidefocus="true" class="aon"></a></li>
				<li><a rel="0" hidefocus="true"></a></li>
				<li><a rel="0" hidefocus="true"></a></li>
				<li><a rel="0" hidefocus="true"></a></li>
			</ul>
		</div>
	</div>
</div>
    
    <div class="newsSuccess">
        <div class="middleDiv">
            <div class="newsIndex">
                <div class="titleInfo">公司新闻</div>
                <ul>
                	<li>
                        <div class="dateLeft">
                            <h1>30</h1>
                            <h2>2018-06</h2>
                        </div>
                        <div class="newslistRight">
                            <h1>“NAK杯”四川省信息通信行业第二届网络安全技能大赛圆满落幕</h1>
                            <p>“NAK杯”四川省信息通信行业第二届网络安全技能大赛圆满落幕，NAK科技荣获“特殊贡献奖”</p>
                        </div>
                    </li>
                	<li>
                        <div class="dateLeft">
                            <h1>10</h1>
                            <h2>2018-05</h2>
                        </div>
                        <div class="newslistRight">
                            <h1>力拓云携手NAK科技建设智慧教育大数据平台</h1>
                            <p>力拓云公司建设四川省智慧微城体验中心项目落地成都，其中，NAK与力拓云科技研究院合作建设智慧教育展厅大数据平台。</p>
                        </div>
                    </li>
                	<li>
                        <div class="dateLeft">
                            <h1>27</h1>
                            <h2>2018-04</h2>
                        </div>
                        <div class="newslistRight">
                            <h1>NAK科技成功加入上云物动科技联盟</h1>
                            <p>2018年4月，NAK科技成功加入上云物动科技联盟，成为物联网安全执委会成员。</p>
                        </div>
                    </li>
                	<li>
                        <div class="dateLeft">
                            <h1>13</h1>
                            <h2>2018-04</h2>
                        </div>
                        <div class="newslistRight">
                            <h1>NAK科技当选江西省商会联盟理事单位</h1>
                            <p>4月13日下午，江西省商会（四川）第一届理事大会在成都顺利召开，NAK科技受邀出席会议。</p>
                        </div>
                    </li>
                	<li>
                        <div class="dateLeft">
                            <h1>23</h1>
                            <h2>2018-03</h2>
                        </div>
                        <div class="newslistRight">
                            <h1>巴蜀私享在NAK，共话人才培养信息化</h1>
                            <p>NAK作为东道主，承办四川省青少年教育促进座谈会，分享多年的教育社会成果，与诸多企业共同探讨如何让科技力量在智慧教育、创新中的作用。</p>
                        </div>
                    </li>
                </ul>

            </div>
{#            <div class="successIndex">#}
{#                <div class="titleInfo">成功客户</div>#}
{#                <ul>#}
{#                    <li class="telecomLogo"></li>#}
{#                    <li class="mobileLogo"></li>#}
{#                    <li class="unicomLogo"></li>#}
{#                    <li class="powerLogo"></li>#}
{#                    <li class="waterLogo"></li>#}
{#                    <li class="sinopecLogo"></li>#}
{#                    <li class="dianwangLogo"></li>#}
{#                    <li class="toyotaLogo"></li>#}
{#                    <li class="nanfangLogo"></li>#}
{#                    <li class="tanglaiLogo"></li>#}
{#                    <li class="sarftLogo"></li>#}
{#                    <li class="mangoLogo"></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
    <div class="middleDiv">
        <div class="publicLeft" onClick="window.location=('about.html')"><h1>NAK生活</h1></div>
        <div class="industRight">
            <div class="titleInfo">行业热点</div>
            <ul>
                <li onClick="window.open('newsDetail_102645.html')">· 窝窝团更新招股书 融资额下调至不足6千万美元</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102648.html')">· 互联网，个性“飞扬跋扈”的时代</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102651.html')">· 百度已战略入股拼车软件公司51用车？</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102653.html')">· 三星宣布涉足手机健康医疗 与IT行业及医疗机构合作</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102656.html')">· 涂子沛执掌阿里最神秘部门IDST：让业务数据化，数据业务化</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102659.html')">· 深度解密 | 互联网+时代的商业新规则</li>
            </ul>
            <ul>
                <li onClick="window.open('newsDetail_102662.html')">· 微软宣布与360战略合作 为中国用户免费升级Windows 10</li>
            </ul>
{#            <div class="more" onClick="window.location=('news.html')">更多</div>#}
        </div>
    </div>
    <div class="infoDiv">
        <div class="middleDiv infobanner">
        </div>
    </div>
    <div class="compDiv">
        <div class="middleDiv comprebanner">
        </div>
    </div>
    <div class="xinlingDiv">
        <div class="middleDiv xinlingbanner">
        </div>
    </div>
    <div class="processDiv">
        <div class="middleDiv processbanner">
        </div>
    </div>
    <div class="hardwareDiv">
        <div class="middleDiv hardwarebanner">
        </div>
    </div>
    <div class="yunweiDiv">
        <div class="middleDiv yunweibanner">
        </div>
    </div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>
</body>
</html>
