
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
    <link href="/static/images/default.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
{#    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>#}
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">百度已战略入股拼车软件公司51用车？</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-30</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	3月30日下午消息，今日新浪科技从知情人士处独家获悉，百度已战略入股拼车软件公司51用车，但投资金额和比例暂未透露，不过具体细节或于近日公布。对此，对此百度与51用车双方均不予置评。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	知情人士表示，眼下为拼车应用爆发期，专车等还在持续受到政策方面的困扰。不同的是，两会上交通部长对于拼车给予了极大的肯定和支持，对于百度和51用车而言，或也是看到了政策和市场的利好，故选择此次合作。 巧合的是，在近日最新一期的百度LBS开放沙龙上，百度LBS开放平台公布了其对于拼车应用的技术支持方案。其产品经理杨森在该沙龙上将LBS与拼车行业的关系及未来发展趋势做了详细分析，杨森表示百度除了有基础定位服务，位置轨迹分析能力如将司机的位置因素、行动状态等因素作为参考，向司机推送订单外；还有基于百度地图的线路规划、地理编码等服务。 而51用车创始人门旭光也在当日沙龙上表示，在整个拼车行业，需要LBS提供的底层支持，比如项目算法支撑，或者对于用户轨迹的支撑，都能为拼车企业提供很好的匹配，同时也能帮助拼车企业更好的服务用户提供更多有价值的支持。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	由此见得，二者的发言或许也在透露着某些信息。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	另据知情人士透露，事实上在早些时候神州租车也接触过51用车团队，神州租车看好51用车在线上的优势，而从事专车业务恰好需要一个相对成熟的线上团队，不过因为多种原因最后二者并未达成意向。 51用车上线于2014年12月15日，是一款智能用车手机软件，助车主匹配上下班同路的乘客，车主可以顺路搭载乘客，乘客需要分摊一部分用车费用作为感谢。51用车目前已经完成B轮融资。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
