
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于汉森</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">互联网，个性“飞扬跋扈”的时代</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-30</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	最早中国做电视收视率调查统计都是对居民进行上门调查，母庸置疑，大家最喜爱的节目永远都是新闻联播，第二个便是焦点访谈，于是新闻联播有近十年都蝉联中国收视率第一名，永远是焦点访谈紧随其后，国人的思想觉悟永远都是这样高。随着高科技的发展，电视台开始利用“机顶盒”上的数据这一更加客观的信息来源进行统计，真实结果与原来统计的数据自然是有很大的出入，原来八点档的电视剧才是大家的最爱，言情剧稳坐收视第一。再后来随着电视节目的增多，统计出来的数据是如此分散，人们的个性需求就是这样被慢慢调动出来的，选择多了自然需求也就不一样了，千篇一律已然被这个时代淘汰了，纵观现在，恐怕电视台统计出来的数据已经不再权威，如今人们的文化娱乐已然不再固定于电视机上了。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	这就是互联网时代，它将人们紧密联系在一起，但却让人们的需求如此分散。抓住用户所需企业才能赢得市场，但是用户所需越来越分散越来越个性化，再用传统的工业思维站在一定高度审度大众需求已无前途可言。在此我们要用互联网思维放下身段细致入微的观察用户真正所需要的，将用户细分再细分，做出的产品或服务可以迎合每位用户的口味。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	小米手机来的突然，就这么悄无声息的占据了手机市场，没有华丽的外观设计，没有大肆的广告宣传，这一切看似都不合理，但是它只做对了一点：个性化定制，这款手机代表着年轻、代表了活力，并不昂贵、也不华丽，有的只是我自己。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	同样与小米手机追求个性定制的普吉114自助建站平台，剑走偏锋没有跟充斥于市场的综合性网址导航抗衡，做大做强在互联网时代是没有未来的，普吉网络不拘泥于任何一批用户，所有互联网使用者都有专属于自己的导航平台，相比小米它似乎把市场划分的更加精细，但是受众人群却又更加广泛。在互联网时代，总是有新的需求会被挖掘出来，你总是要不停的与这个世界接轨而非闭门造车，只有走在前线才能知道用户真正的需要到底是什么，小米手机现在这么火了，但是比它更加“个性化”的模式出现了，相信小米要是止步不前，不久也会被互联网淘汰。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	诺基亚就是被互联网淘汰最好的例证。产品更新速度快，产品种类多，殊不知当他还在专心将企业做大做强之时,小而精的产品才是王道。现在的诺基亚风光远不如从前，甚至远远落在国产手机的后面。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	CCTV5一直垄断着中国体育转播市场，当时一直打压着地方电视台，随着PPTV、腾讯、乐视等一系列门户网站的出现大大将央视体育转播权划分过来。于是黄健翔在大家当时异样的目光中离开了央视解说台，到目前为止央视解说员频频跳槽到体育门户网站已经是家常便饭了。因为观众口味变了，大家开始期待NBA中场休息的那场美女啦啦操，可当时CCTV5这段是禁播的。大家希望看到美女解说，于是各大体育门户网站纷纷推出自己的“王牌解说”。当然如今的央视也在向更好的方向改革，因为如果你不去改变，不论背后的靠山有多么强大，终究是市场决定着一切。诺基亚和CCTV5就是印证了这个时代所要遵守的互联网思维：小而精胜过大而强；俯身爬行胜过高高在上。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	互联网时代就是一个个性飞扬的时代，你面对的用户，他们的喜好永远超出的你的想象，在互联网环境下，企业组织必须向扁平化发展，企业服务必须向垂直细分化方向转型，遗憾的是，新瓶装老酒，很多互联网企业还在延续着工业时代的思维继续前行。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
