
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="te/static/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">微软宣布与360战略合作 为中国用户免费升级Windows 10</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-18</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	今日，微软宣布将与全球最大的互联网安全公司360达成战略合作，为96.1%的中国用户免费升级Windows 10操作系统。据悉，360是微软Win 10的唯一安全合作伙伴。微软是在18日于深圳举行的Windows 硬件工程产业创新峰会 (WinHEC)上正式宣布上述消息的。 Windows 10是微软最新一代的全平台操作系统，将统一PC、手机、平板、Xbox等平台，与以往的版本不同，Windows 10将是一种服务，而非单纯的产品。Windows 7、Windows 8.1、Windows Phone 8.1用户都可以免费升级。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	微软希望在Windows 10推出后，可以在最短的时间内让更多的用户体验和使用，因此选择360作为Windows 10升级合作伙伴。 360公司董事长兼CEO周鸿祎与微软操作系统事业部执行副总裁Terry Myerson在WinHEC峰会上共同宣布了双方的合作计划。在Windows 10推出后，360将向中国用户免费分发升级Windows 10，帮助中国用户第一时间体验Windows 10的创新技术。 Terry在WinHEC上称，360是全球最大的互联网安全和移动互联网安全公司，也是微软最重要的安全合作伙伴，微软与360合作能够共同帮助数亿中国用户以最好的体验升级到Windows 10。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	360是Windows 10升级唯一安全合作伙伴 微软将在今年夏天正式推出Windows 10，届时，中国用户可以通过360提供的分发和升级服务，与全球用户同步体验到免费的Windows 10。 周鸿祎称，目前超过96%的中国PC用户都在使用360的安全产品;360创造并领导的免费安全模式，推动了安全服务在中国的全面快速普及，提升了中国用户的整体安全水平，Windows 10免费将让更多的中国用户能够体验到微软最新的产品和科技，这是符合互联网发展规律的有益创新。 360公司发布的2014年财报显示，其PC端的月活跃用户数到达5.09亿，在PC端的覆盖率超过了96.1%，360主要移动安全产品的智能手机用户总数达到了7.44亿。此次微软与360深度合作，双方工程师将紧密合作，共同优化用户升级Windows 10的体验，帮助用户以最简便、最快捷的方式无缝安全地升级安装和使用Windows 10。 周鸿祎表示：“微软是360战略合作伙伴，双方在安全领域有着深入的合作，此次在Windows 10上的深度合作，将两家公司的合作提升到了一个更高的水平。”据了解，360一直是微软最重要的安全合作伙伴。2006年，360率先在中国帮助微软打安全补丁，从根本上提升了Windows系统的安全性。从2009年至今， 360因发现并协助修复漏洞已获得了68次微软官方致谢，在全球安全软件厂商中排名第一并遥遥领先。目前，360在产品覆盖率上的优势、对用户体验的极致追求，正在帮助微软进一步提升用户升级体验，这也是微软选择360作为Windows 10升级唯一安全合作伙伴的重要原因。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
