
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">三星宣布涉足手机健康医疗 与IT行业及医疗机构合作</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-28</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	3月27日消息，在博鳌亚洲论坛上，三星方面表示，正在研究进入手机健康医疗市场。将通过与IT行业及医疗机构合作，借助IT工具构建自身健康管理系统，加速”数码健康"时代的到来。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	三星将来也会强化与保险公司、制药厂、医院的合作，面对老龄化社会的到来，寻找降低医疗费用的最佳解决方法。 去年，三星发布的”三星数码健康平台”。经使用者同意，通过智能手机和可穿戴设备，以及其它健康医疗设备，可收集、分析、利用健康数据。三星还推出了智能手表”三星GearS"，配有可测试心电图、心跳数等各种健康数据的心跳感应器，且附加了可以测试UV的感应器。 在博鳌亚洲论坛上，三星推出了展览馆、智能健康及可穿戴论坛，以及大型户外广告等各种展示活动。在三星展区，展示了利用生物工程处理器、SimBand、Gear、S-Health应用组成的”三星智能健康生态系统”。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	三星电子首席战略官孙英权表示，三星电子的目标是通过智能手机给消费者提供管理身心健康的解决方案。利用智能手机、可穿戴设备、生物工程处理、以及感应器的健康医疗软件应用系统和服务，构建手机健康医疗生态。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
