
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<style type="text/css">
	.newsDetail2{width:940px;margin:30px auto 100px auto;}
	.newsDetail2 p{line-height:40px;}
	.newsDetail2 img{max-width:100%;overflow:hidden;}
</style>
</head>


<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='news.html'" class="select">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<li onClick="window.location='hr.html'" class="">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	
    	<a onClick="window.location='../news2_1.html'">行业热点 > </a>
    	<h1> 新闻详情</h1>
    </div>
</div>

<div class="newsDetail2">
	<h1 style="font-size:24px;font-weight:bold;">深度解密 | 互联网+时代的商业新规则</h1>
    <span style="color:#9fa0a0;font-size:16px;display:block;margin:10px 0;width:100%;text-align:right;">2015-03-20</span>
    <div><p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	后互联网时代的本质是去中心化和去中介化。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	所谓去中心化，传统互联网时代，人们总是要登录新浪、搜狐等门户网站来获取新闻资讯。淘宝商城则是电子商务最重要的中心节点。在智能手机普及的移动互联网时代，我们不再需要特定的“中心”，微博、朋友圈，微信公众号就能满足个体的资讯需要。 所谓去中介化，携程就是最典型的传统互联网“中介”。基于强大的用户的聚合，携程对酒店、航空公司的强大的议价能力，从而为用户提供旅行相关的出行服务。而现在，7天、锦江之星等，因为已经积累了庞大的会员库，已经完全减少了对携程等平台的依赖。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	不仅仅止于此，在后移动互联网时代，从用户的“价值创造”和企业的“价值获取”两个视角出发，我们可以构建出一个全新的“4C”模型: Co-creation（共同创造）：对于用户，体验比功能更重要，对于企业，设计比功能更重要。 Commodity（产品核心）：对于用户，好用比产品更重要，对于企业，免费比盈利更重要。 Community（社群生存）：对于用户，兴趣比归属更重要，对于企业，社群比细分更重要。 Connecting（组织网络）：对于用户，关联比产品更重要，对于企业，网络比组织更重要。
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	互联网+：后互联网时代的商业新规则
</p>
<p style="font-size:16px;text-align:justify;text-indent:2em;color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;background-color:#FFFFFF;">
	这是一个伴随移动互联、社交网络而来的“后互联网时代”。社会生活的面貌和商业世界的规则，已经远不再是传统的互联网概念所能解释的了。 马云、雷军等人取代了传统经济的大佬，成为当红的经济人物。地产、金融、家电等行业都在积极地拥抱“互联网思维”，网络英雄们都在忙着四处布道。 新的商业模式正在逐步成为主流，新经济正在改变甚至颠覆传统经济，用户“价值的创造方式”以及企业“价值的获取方式”正在发生改变——前者是用户需求和消费所创造的市场价值，后者则是企业创新和运营欲赢得的市场价值。这都意味着不再一样的商业规则。 现代通讯工具和互联网带来的是连接方式的彻底改变：更快的连接，更广范围的连接，更方便的连接。互联网的实质就是“连接”——物的连接、人的连接，以及商业与人的连接。
</p></div>
    
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
