
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品中心</title>
<link href="favicon.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<script type="text/javascript" src="/static/js/product.js" ></script>
</head>

<body style="background:#eee;overflow-x:hidden;">
<div class="headDiv" style="position:inherit;">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
        <li onClick="window.location='index.html'">首 页</li>
        <li onClick="window.location='about.html'">关于汉森</li>
        <li onClick="window.location='news.html'">公司新闻</li>
        <li onClick="window.location='product.html'"  class="select">产品中心</li>
        <li onClick="window.location='service.html'">服务专区</li>
        <li onClick="window.location='hr.html'">人力资源</li>
        <li onClick="window.location='contect.html'">联系我们</li>
    </ul>
</div>
<div class="productmenuDiv">
	<div class="proArrow proArrowLeft"></div>
    <div class="proArrow proArrowRight"></div>
	<ul class="productMenu">
        <li class="select"><span class="hulianJie"></span><h1>物联网+产品概要</h1></li>
        <li><span class="wulianJie"></span><h1>物联网+产品案例</h1></li>
        <li><span class="hulianPro"></span><h1>互联网+产品概要</h1></li>
        <li><span class="zhiyouIcon"></span><h1>互联网+产品案例</h1></li>
        <li style="margin-bottom:0;"><span class="wulianPro"></span><h1>自有核心开发平台</h1></li>
    </ul>
    
</div>
<!--物联网产品概要-->
<div class="tabProduct">           
    <div class="changpingDiv">
        <div class="productMiddle">
            
            <div class="productRight">
                <div class="productDiv">
                    <p>
                    “物联网+”产品体系是凯通从业务的咨询规划、应用的产品研发、系统的综合集成以及后续的外包服务和增值运营等方面，面向通信、电力、能源、水利等行业客户的专业化物联网提供的整体解决方案。</p>
                    <p>
        “物联网+”整合了凯通15年为众多行业客户提供专业的信息化产品和服务的经验，结合自身在物联网数据采集、实时数据处理、动态流程引擎、分布式存储与计算以及大数据挖掘分析等方面产品化的能力，形成了面向行业应用的各种特色产品平台，并且可以根据客户的需求进行个性化的定制和服务。
                    </p>
                </div>
            </div>
         </div>
    </div>	
    <div class="intrdutDiv" style="padding-top:0;">    
        <div class="productMiddle">
            <div class="productRight">
                <div class="productTitle">凯通"物联网+"行业应用</div>
                <div class="yingyong"></div>
            </div>
        </div>
    </div>
</div>

<!--物联网解决方案-->
<div class="tabProduct">  
	<div class="intrdutDiv" style="padding-bottom:0;">    
        <div class="productMiddle">
            <div class="productRight">
            	<ul class="jobFunction xw_jobFunction1" style="float:left;">
                    <li class="select">通信网络</li>
                    <li>能源电力</li>
                    <li>水利水务</li>
                    <li style="border-right:1px solid #dfdfdf;">行业应用</li>
                </ul>
            </div>
        </div>
    </div>
    <!--通信网络-->
    <div class="tabSecond xw_tabSecond1">
        <div class="intrdutDiv">    
            <div class="productMiddle">
                <div class="productRight">
                    
                    <div class="tixiTitle tongxingNet">智慧通信网络“物联网+”产品体系</div>
                    <div class="tixiContent">智慧通信网络“物联网+”产品是凯通面向各大运营商遍布全国的通信网络设备和终端提供的超大规模的数据采集及深度分析应用，以动态的业务生产流程为驱动，以重点客户为核心，打造成熟的通信网络运营支撑体系平台（简称OSS平台），为运营商的网络规划、业务生产、运维服务提供深度整合及智能化应用的核心支撑平台。目前凯通的产品已面向全国众多集团级和省级运营商提供各种定制化的产品和服务，目前主要产品包括：
                    </div>
                    <ul class="wulianTixi">
                        <li><span>●</span><h1>通信网络全专业智能综合网管</h1></li>
                        <li><span>●</span><h1>通信网络动态资源管理系统</h1></li>
                        <li><span>●</span><h1>通信网络生产指挥调度系统</h1></li>
                        <li><span>●</span><h1>通信网络VIP客户监控及服务管理系统</h1></li>
                        <li><span>●</span><h1>通信网络综合信令监测与分析系统</h1></li>
                        <li><span>●</span><h1>通信网络运行数据挖掘分析系统</h1></li>
                        <li><span>●</span><h1>LTE无线通信网络优化平台</h1></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="tuangduiDiv">
            <div class="productMiddle">
                <div class="productRight">
                    <ul class="productSample">                                     
                        <li><h1>案例：物联网络监控</h1><span class="jiankong"></span></li>
                        <li><h1>案例：VIP客户服务</h1><span class="kefu"></span></li>
                        <li><h1>案例：物联网络监控</h1><span class="digital"></span></li>
                        <li><h1>案例：VIP客户服务</h1><span class="yinji"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--能源电力-->
    <div class="tabSecond xw_tabSecond1" style="display:none;">
        <div class="intrdutDiv">    
            <div class="productMiddle">
                <div class="productRight">
                    
                    <div class="tixiTitle dianliNet">智慧能源电力“物联网+”产品体系</div>
                    <div class="tixiContent">智慧能源电力“物联网+”产品是凯通面向电网集团、发电集团、石化行业等提供的专业的信息化服务产品，尤其是结合专业网络管理需求，提供了一体化的通信网络运营支撑平台，形成了智能电网、智能石化的重要组成部分，同时还针对不同客户业务的需要，结合凯通在物联网方面的经验积累，提供多种数据采集手段，以动态的业务生产流程为驱动，以大数据挖掘和深度分析为核心，打造智能化的能源电力业务管理和数据中心平台。目前凯通的产品已面向全国众多集团级和省级客户提供各种定制化的产品和服务，目前主要产品包括：
                    </div>
                    <ul class="wulianTixi">
                        <li><span>●</span><h1>电力通信一体化综合管控平台</h1></li>
                        <li><span>●</span><h1>发电集团电厂生产调度业务平台</h1></li>
                        <li><span>●</span><h1>电力传输红外智能监控平台</h1></li>
                        <li><span>●</span><h1>石化管道综合监控平台</h1></li>
                        <li><span>●</span><h1>综合管线管理平台</h1></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="tuangduiDiv">
            <div class="productMiddle">
                <div class="productRight">
                    <ul class="productSample">                                     
                        <li><h1>案例：石化管道综合监控平台</h1><span class="shihua"></span></li>
                        <li><h1>案例：电力一体化综合管控</h1><span class="dianli"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--水利水务-->
    <div class="tabSecond xw_tabSecond1" style="display:none;">
        <div class="intrdutDiv">    
            <div class="productMiddle">
                <div class="productRight">
                    
                    <div class="tixiTitle shuiliNet">智慧水利水务“物联网+”产品体系</div>
                    <div class="tixiContent">智慧水利水务“物联网+”产品是凯通面向水利行业信息化的需求，采用多种物联网探针技术，实现对水利信息的多方位、立体化的实时数据采集及深度分析应用，以动态的业务生产流程为驱动，以智能水利、智能水库等理念为核心，打造综合化的智能水利信息化平台。目前凯通的产品已面向全国众多国家级和省级水利部门提供各种定制化的产品和服务，目前主要产品包括：
                    </div>
                    <ul class="wulianTixi">
                        <li><span>●</span><h1>智慧水利信息化门户</h1></li>
                        <li><span>●</span><h1>智慧水资源管理平台</h1></li>
                        <li><span>●</span><h1>智慧水利应急指挥调度平台</h1></li>
                        <li><span>●</span><h1>智慧感知水库管理平台</h1></li>
                        <li><span>●</span><h1>智慧灌区管理平台</h1></li>
                        <li><span>●</span><h1>山洪预警监控系统平台</h1></li>
                        <li><span>●</span><h1>泵站自动化控制管理平台</h1></li>
                        <li><span>●</span><h1>智慧水务管理平台</h1></li>
                        <li><span>●</span><h1>水利数据中心</h1></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="tuangduiDiv">
            <div class="productMiddle">
                <div class="productRight">
                    <ul class="productSample">                                     
                        <li><h1>案例：水利信息化门户</h1><span class="water"></span></li>
                        <li><h1>案例：山洪预警监控平台</h1><span class="shanhong"></span></li>
                        <li><h1>案例：红外智能监控平台</h1><span class="hongwai"></span></li>
                        <li><h1>案例：泵站自动化控制平台</h1><span class="bengzhang"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--行业应用-->
    <div class="tabSecond xw_tabSecond1" style="display:none;">
        <div class="intrdutDiv">    
            <div class="productMiddle">
                <div class="productRight">
                    
                    <div class="tixiTitle yinyongNet">智慧行业应用“物联网+”产品体系</div>
                    <div class="tixiContent">智慧行业应用“物联网+”产品是凯通整合在通信、电力、水利等方面的项目经验，以物联网大规模数据采集及深度数据分析为核心，结合在移动互联网技术、流程引擎、地图引擎、实时数据处理引擎等方面的丰富积累，面向不同企业提供的综合信息化产品及服务平台，尤其是在专业网络一体化监控管理、企业流程管理、数据中心平台等方面已经在和众多企业有了广泛的合作，提供各种定制化的产品和服务，目前主要产品包括：
                    </div>
                    <ul class="wulianTixi">
                        <li><span>●</span><h1>企业云计算及数据中心平台</h1></li>
                        <li><span>●</span><h1>应急指挥调度平台</h1></li>
                        <li><span>●</span><h1>企业流程管理系统</h1></li>
                        <li><span>●</span><h1>企业门户平台</h1></li>
                        <li><span>●</span><h1>企业学习平台</h1></li>
                        <li><span>●</span><h1>智慧校园综合网络运营管理平台</h1></li>
                        <li><span>●</span><h1>工业实时监控管理平台</h1></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="tuangduiDiv">
            <div class="productMiddle">
                <div class="productRight">
                    <ul class="productSample">                                     
                        <li><h1>案例：深度数据挖掘</h1><span class="wajie"></span></li>
                        <li><h1>案例：企业流程管控</h1><span class="liucheng"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--互联网产品概要-->
<div class="tabProduct" style="display:none;">
	<div class="changpingDiv">
        <div class="productMiddle">
            
            <div class="productRight">
                <div class="productDiv">
                    <p>
                    凯通“互联网+”产品体系基于全自主开发的开放式移动应用统一开发平台CM5，为各行各业各级别的客户提供一整套覆盖移动互联网应用规划设计、开发、集成、打包、发布、运营管理等“互联网+”全生态环节的一站式应用落地解决方案。
</p>
<p>
通过凯通“互联网+”平台，一方面可为运营商、政府、能源、教育、医疗、生产制造等各行业快速完成“互联网+”业务升级转型，另一方面可形成微教育、微会展、微学习、微媒体等移动互联网运营级产品，为“互联网+”国家战略落地贡献力量！

                    </p>
                </div>
            </div>
         </div>
    </div>
    <div class="intrdutDiv">    
            <div class="productMiddle">
                <div class="productRight">
               	 <div class="cm5"></div>
                 <div class="appxialu" style="padding-top:20px;"></div>
                </div>
            </div>
     </div>
     <div class="appMiddle">
         <div class="productMiddle">
            <div class="productRight">
                <div class="appying"></div>
            </div>
         </div>
     </div>
</div>

<!--互联网解决方案-->
<div class="tabProduct" style="display:none;">
	<div class="intrdutDiv" style="padding-bottom:0;">    
        <div class="productMiddle">
            <div class="productRight">
            	<ul class="jobFunction xw_jobFunction2" style="float:left;">
<!--                     <li >会天下</li> -->
                    <li class="select">企学</li>
                    <li style="border-right:1px solid #dfdfdf;">其它</li>
                </ul>
            </div>
        </div>
    </div>
    
<!--会天下
  <div class="tabSecond xw_tabSecond2">   
	<div class="intrdutDiv" style="padding-bottom:0;">    
        <div class="productMiddle">
            <div class="productRight">
            	<div class="intrdutTitle" style="color:#0095cf;margin-left:300px;"><h1>会天下</h1> <span>●</span>  <h1>微平台能做什么？</h1></div>
                <div class="netJie">多级多公从号管理&nbsp;&nbsp;&nbsp;&nbsp;统一发布管理&nbsp;&nbsp;&nbsp;&nbsp;微官网管理&nbsp;&nbsp;&nbsp;&nbsp;行业微方案</div>
                <div class="weipingtai"></div>
                <ul class="netproContent">
                	<li>微行业系统</li>
					<li>微网站模板系统</li>
                    <li>互动营销系统</li>
                    <li>会员管理系统</li>
                    <li>预约订单系统</li>
                    <li>微电商系统</li>
                    <li>微信统一发布系统</li>
                    <li>微客服系统  ......</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="appMiddle">
    	<div class="productMiddle">
            <div class="productRight">
            	<div class="intrdutTitle" style="color:#0095cf;margin-left:250px;"><h1>会天下</h1> <span>●</span>  <h1>会议展会微信互动平台</h1></div>
                <div class="netJie">微信互动式会议&nbsp;&nbsp;&nbsp;&nbsp;做天下会议的金牌管家</div>
                <div class="huiDiv"><p>专注于将展会、年会、大会等具有一定人员规模的会议打造成微信互动式会议。采用最新的互联网技术，融合硬件扫码设备，快速搭建二维码签到、会议微站、在线客服等会议互动服务，带来绿色高效、时尚创新的新型会议，告别传统会议繁杂的签到核实流程，为会议主办方节省大量的人力物力。同时可以通过微信墙、大屏幕签到、大屏幕抽奖等形式，提高会议互动性，令整个会议活动更加新颖时尚。</p></div>
                <div class="weihuyi"></div>
                
            </div>
         </div>
        </div>
  </div>
  -->
<!--企学-->  
<div class="tabSecond xw_tabSecond2" style="display:none;">  
     <div class="intrdutDiv" style="padding-bottom:0;">    
        <div class="productMiddle">
            <div class="productRight">
           		 <div class="intrdutTitle" style="color:#0095cf;margin-left:350px;"><h1>企学</h1> <span>●</span>  <h1>岂止于学</h1></div>
                <div class="netJie">以学为根本带给企业远远不止于学&nbsp;&nbsp;&nbsp;&nbsp;每个员工的私人管家&nbsp;&nbsp;&nbsp;&nbsp;企业管理层的新助手</div>
                <div class="huiDiv"><p>独具一格的移动互联网学习平台，专注与众不同的企业知识提升和改革。打造企业活跃学习氛围和强劲企业凝聚力。员工的面试、试用、转正、离职都有它陪伴。协助了解员工学习，了解企业知识积累和提升。</p></div>
                <div class="qixue"></div>
                <ul class="netproContent">
                	<li>移动学习</li>
					<li>知识积累</li>
                    <li>问问互助</li>
                    <li>企业通讯录</li>
                    <li>交流学习群</li>
                    <li>培训签到</li>
                    <li>活跃学习氛围</li>
                    <li>强劲企业凝聚  ......</li>
                </ul>
            </div>
        </div>
     </div>
</div>

<!--其它-->  
<div class="tabSecond xw_tabSecond2" style="display:none;"> 
	<div class="intrdutDiv">    
        <div class="productMiddle">
            <div class="productRight">
            	<div class="appTitle" style="padding-top:0;"><span class="one"></span><h1>微信开发平台</h1></div>
                <div class="weixing"></div>
            </div>
        </div>
     </div>
	<div class="appMiddle">
         <div class="productMiddle">
            <div class="productRight">
            	<div class="appTitle"><span class="two"></span><h1>社保微客服系统</h1></div>
                <div class="shebao"></div>
            </div>
         </div>
     </div>
     <div class="intrdutDiv">    
        <div class="productMiddle">
            <div class="productRight">
            	<div class="appTitle"><span class="tree"></span><h1>商问移动社交平台</h1></div>
                <div class="shangweng"></div>
            </div>
        </div>
     </div>
	<div class="appMiddle">
         <div class="productMiddle">
            <div class="productRight">
                <div class="appTitle"><span class="four"></span><h1>电信电力产品</h1></div>
                <div class="dianxing"></div>
            </div>
         </div>
     </div>
     <div class="intrdutDiv">    
        <div class="productMiddle">
            <div class="productRight">
            	<div class="appTitle"><span class="five"></span><h1>微信易信产品</h1></div>
                <div class="yinxing"></div>
            </div>
        </div>
     </div>
</div>     
     
     
</div>

<!--自有核心开发平台-->
<div class="tabProduct" style="display:none;">
	<div class="appMiddle">
         <div class="productMiddle">
            <div class="productRight">
            <div class="productDigital">
                <div class="technology" style="float:left;margin-top:10px;">
                    <h1 class="blueGreen">KT WFE 物联网数据采集引擎平台</h1>
                    <p>整合多重数据采集模式，实现超海量的亿级单元信息的实时采集和实时位置跟踪，实现了基于地理信息的多维度数据采集和管控。</p>
                </div>
                <div class="technology" style="float:right;margin-top:95px;">
                    <h1 class="red">KT CME 移动应用智能服务引擎平台</h1>
                    <p style="padding:0 0 0 30px;">实现支持手机、平板、微信等泛终端的企业级移动应用服务管理平台，提供统一的开发、发布、授权、监控、分析、更新等功能。</p>
                </div>
                <div class="technology" style="float:left;margin-top:80px;">
                    <h1 class="green">KT DSB 综合数据智能总线引擎平台</h1>
                    <p>整合企业级数据总线和服务总线，提供了综合的服务共享和数据共享平台，可快速支撑企业的信息化建设和数据整合共享工作。</p>
                </div>
                <div class="technology" style="float:right;margin-top:90px;">
                    <h1 class="purple">KT WFE 动态流程引擎平台</h1>
                    <p style="padding:0 0 0 30px;">真正满足企业级大规模、多环节的复杂业务流程的驱动，实现动态流程引擎与动态表单管理为一体的智能化动态引擎平台，实现复杂流程引擎的核心技术，并可快速支撑企业流程重组和与移动应用融合。</p>
                </div>
                <div class="technology" style="float:left;margin-top:90px;">
                    <h1 class="orange">KT BD 海量数据挖掘分析引擎平台</h1>
                    <p>结合云计算思想和大数据理念，解决大数据时代的超大数据量的存储和处理瓶颈难题，可快速实现分层建模的数据模型引擎、超大数据预处理引擎、混合式数据存储引擎、列级数据检索引擎。</p>
                </div>
                <div class="technology" style="float:right;margin-top:75px;">
                    <h1 class="blue">KT CLOUD 云计算管理引擎平台</h1>
                    <p style="padding:0 0 0 30px;">实现面向云的统一调度、监控和管理的企业级云计算服务管理引擎，实现从网络到服务器、中间件乃至个性化应用的综合服务管理。</p>
                </div>
            </div>
            </div>
         </div>
     </div>
</div>

    
<iframe frameborder="0" class="footerFrame" scrolling="no"  src="footer.html"></iframe> 
    
<!--当页面出现滚动条时返回头部的的按钮-->
<div class="gotoTop" title="回到顶部"></div>
</body>
</html>
