
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>服务专区</title>
<link href="/static/images/default.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/page.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
</head>

<body>
<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
        <li onClick="window.location='index.html'">首 页</li>
        <li onClick="window.location='about.html'">关于NAK</li>
        <li onClick="window.location='news.html'">公司新闻</li>
        <li onClick="window.location='product.html'">产品中心</li>
        <li onClick="window.location='service.html'"  class="select">服务专区</li>
        <li onClick="window.location='hr.html'">人力资源</li>
        <li onClick="window.location='contect.html'">联系我们</li>
    </ul>
</div>

<div class="tuangduiDiv">
	<div class="middleDiv">
    	      <div class="serviceTop">NAK科技主要从事通信、安全、媒体、电力、水利、农业等行业的应用系统、平台的研发，
                  在物联网前端应用、大数据应用、分布式应用等相关专业领域积累了丰富的经验，全国设有多家办事处，高校合作研发实验室，全国范围内提供产品技术支持，
                  服务客户均以企业为主，同时也与上百家中小企业建立服务或合作对接。</div>
    </div>
</div> 
<div class="middleDiv">
	<ul class="servicePro">
    	<li class="guihuaIcon">
        	<h1>业务规划</h1>
            <p>负责业务需求调研，编辑满足用户需求的需求规格说明书。</p>
        </li>
        <li class="zhengtiIcon">
        	<h1>整体设计</h1>
            <p>根据需求方案，制定适合业务场景的系统功能设计方案。</p>
        </li>
        <li class="systemIcon">
        	<h1>系统开发</h1>
            <p>根据设计方案，完成符合业务定制的系统功能开发工作。</p>
        </li>
        <li class="testIcon">
        	<h1>系统测试</h1>
            <p>包括系统压力、集成和功能符合度测试，保证稳定性。</p>
        </li>
        <li  class="peixunIcon" style="margin-right:0;">
        	<h1>系统部署</h1>
            <p>负责系统的现场功能部署，以及完善的售后服务保障。</p>
        </li>
    </ul>
</div>
<div class="intrdutDiv">
	<div class="serviceJie">
    </div>
    <div class="telephoneIcon">热线：13308048672(黄生,微信同号)</div>
</div>

      
<iframe frameborder="0" class="footerFrame" scrolling="no"  src="footer.html"></iframe> 
    
<!--当页面出现滚动条时返回头部的的按钮-->
<div class="gotoTop" title="回到顶部"></div>
</body>

</html>
