<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>

    <script src="/static/js/public/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/js/public/JSUtils.js"></script>
    <script src="/static/js/public/cookie.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
{#    <script src="/static/myschool/home.js"></script>#}

</head>
<body>

    <div id="search_content"style="width: 100%;text-align: center">
            <img src="/static/myschool/Images/search_icon.png" style="width: 80px;height: 80px;border-radius:40px;margin-top: 60px">
            <p style="font-size: 20px;color:#D30710;margin-top: 20px ">发现正能量</p>

{#            <div class="searchBox" style="height: 30px;text-align: center;margin-top: 40px;background-color: white">#}
					<input id="fliter_str" type="text" maxlength="100" autocomplete="off"
                           style="border:0.5px solid #378888;width: 90%;height: 30px;margin-left: 5%;
                           font-size: 16px;border-radius: 15px;margin-top: 30px;padding-left: 10px;padding-right: 10px"
                           onkeypress="$.searchGoods()" onkeydown="$.searchGoods()"
                            placeholder="请输入关键字"/>
					<!--<input type="button" class="btn cp" value="搜索" style="width: 180px;height: 100px;font-size: 2.3em" onclick="$.searchGoods()"/>-->
{#			</div>#}
    </div>

</body>
</html>