<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

        <link rel="stylesheet" href="/static/css/bootstrap.css"/>
{#        <link rel="stylesheet" href="/static/school/bootstrap.css"/>#}
</head>
<body>
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/js/public/JSUtils.js"></script>
    <script src="/static/js/public/cookie.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
    <script src="/static/myschool/home.js"></script>

<div style="margin-top:10px;clear:both;height: 60px;width: 90%;">
{#    基础信息#}
    <div style="width: 100%;height: 60px;margin-left: 5%;color: #8c8a90">
{#        头像#}
        <div style="margin-top:10px;border-radius: 20px; float:left;width: 40px;height: 40px;background-size: cover;
        background-image: url('http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIQYc8seCHrRawCBn56FvFoQbckR22wibZHGU48vU3LQPbsbAUTY8Pgymg75DKTn1OjY8ibKws9bAkw/132')"></div>

{#        文字信息#}
        <div style="float: left;text-align: left">
{#            标题#}
            <div style="width: 100%;height: 20px;line-height: 20px;margin-left: 20px;margin-top: 10px">hello 凯缇</div>

{#            时间信息#}
            <div style="width: 100%;height: 20px;line-height: 20px;margin-left: 20px;margin-top: 10px">03-21 18:20  来自 树德中学</div>
        </div>

{#        收藏和去收藏按钮#}
{#        <div style="float:right;width: 40px;height: 40px;margin-top: 10px;background-size: cover;background-image: url('/static/Images/checkin_abort.png')"></div>#}
    </div>

{#    文本内容#}
    <div style="width: 100%;margin-left: 5%;margin-top:10px;margin-right: 5%;max-height: 180px;color: black">他们指出，美国一意孤行，发难中国是错误的选择，大家应该努力把蛋糕做大，而不是争夺一块蛋糕！保护主义应该是保护我们人类、星球，而不是其它...央视财经为您梳理嘉宾语录，一文迅速了解各方表态</div>

{#    文章主图#}
    <div style="width: 100%;height: 180px;margin-top:20px;margin-left:5%;border-radius:10px;background-size: cover;background-image: url('/static/Images/newsPic/NEWS_000007_3.jpg')">

    </div>

{#    辅助信息#}
    <div style="width: 90%;height: 60px;margin-left: 5%">
{#        阅读次数#}
        <div style="float: left;text-align: center;width: 100px">
            <img src="/static/Images/2.png" style="width: 20px;height: 20px;background-size: cover;margin-top: 10px">
            <div style="height: 20px;line-height: 20px;text-align: center;font-size: 10px;">20909</div>
        </div>

{#        收藏次数#}
        <div style="float: right;text-align: center;width: 100px;">
            <img src="/static/Images/2.png" style="width: 20px;height: 20px;background-size: cover;margin-top: 10px">
            <div style="height: 20px;line-height: 20px;text-align: center;font-size: 10px;">20909</div>
        </div>
    </div>


</div>
<div style="clear:both;width: 90%;height: 5px;background-color: #92B8B1;margin-left: 5%"></div>

</body>
</html>