<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

        <link rel="stylesheet" href="/static/css/bootstrap.css"/>
{#        <link rel="stylesheet" href="/static/school/bootstrap.css"/>#}
</head>
<body>
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/js/public/JSUtils.js"></script>
    <script src="/static/js/public/cookie.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
    <script src="/static/myschool/home.js"></script>

</body>
</html>