<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/myschool/my.css"/>

    <script src="/static/js/public/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/js/public/JSUtils.js"></script>
    <script src="/static/js/public/cookie.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
</head>
<body>


    <div id="my_content" style="height: 1900px">
    <div class="user_div2">
        <img src="/static/Images/default.png" class="user_head2" id="user_head">

        <div class="user_detail2">
            <div style="font-size: 20px;color: white;height: 40px;line-height: 40px" id="uName">曹家驹</div>
        </div>
    </div>


    <!--订单中心-->
    <div class="order_div2">
        <div style="margin-left: 5%;font-size: 22px;height: 50px;line-height:50px;color: #333">服务中心</div>
{#        <div style="height: 3pc;width: 100%;background-color: #ECECEC"></div>#}
        <!--<div class="seperatoLine2"></div>-->
        <div class="item_function2" onclick="javascrtpt:window.location.href='./user_qx_orders.html'">
            <img class="itemLogo2" src="/static/myschool/Images/icon1.png">
            <div class="itemTitle2">我的文章</div>
            <img class="right_arrow2" src="/static/Images/right.png">
        </div>
        <div class="seperatorDiv2"></div>

        <div class="item_function2" onclick="javascrtpt:window.location.href='./user_wx_orders.html'">
            <img class="itemLogo2" src="/static/myschool/Images/icon2.png">
            <div class="itemTitle2">我的收藏</div>
            <img class="right_arrow2" src="/static/Images/right.png">
        </div>

        <div class="seperatorDiv2"></div>

        <div class="item_function2" onclick="javascrtpt:window.location.href='./user_aj_orders.html'">
            <img class="itemLogo2" src="/static/myschool/Images/icon3.png">
            <div class="itemTitle2">我的评论</div>
            <img class="right_arrow2" src="/static/Images/right.png">
        </div>

        <div class="seperatorDiv2"></div>

        <div class="item_function2" onclick="javascrtpt:window.location.href='./user_gdqx_orders.html'">
            <img class="itemLogo2" src="/static/myschool/Images/icon4.png">
            <div class="itemTitle2">学习工具</div>
            <img class="right_arrow2" src="/static/Images/right.png">
        </div>
    </div>

    <!--粗分割div-->
    <div class="seperatorDiv2"></div>

    <div>
        <div class="item_function2" onclick="javascrtpt:window.location.href='./user_addresss.html'">
            <img class="itemLogo2" src="/static/myschool/Images/icon1.png">
            <div class="itemTitle2">在线帮助</div>
            <img class="right_arrow2" src="/static/Images/right.png">
        </div>
    </div>
    <!--粗分割div-->
    <div style="width: 100%;height: 18pc;"></div>

    </div>
{#我的文章#}
{#我的收藏#}
{#我的评论#}
{#学习工具#}
{##}
{#帮助---指导用户 在PC端完成 文章编辑#}

</body>
</html>