
<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>职位招聘详情</title>
<link href="../favicon.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<script type="text/javascript" src="../js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="../js/main.js" ></script>
</head>

<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='../index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='../index.html'" class="">首 页</li>
	    		<li onClick="window.location='../about.html'" class="">关于凯通</li>
	    		<li onClick="window.location='../news.html'" class="">公司新闻</li>
	    		<li onClick="window.location='../product.html'" class="">产品中心</li>
	    		<li onClick="window.location='../service.html'" class="">服务专区</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='../hr.html'" class="select">人力资源</li>
	    		<li onClick="window.location='../contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	<a onClick="window.location='../hr.html'">岗位列表 > </a>
    	<h1> 岗位详情</h1>
    </div>
</div>

<div class="jobDetail">
    <h1>中级软件开发工程师（北京）</h1>
    <ul>
    	<li>所属部门：产品研发中心</li>
        <li>工作地点：北京市海淀区</li>
        <li>学历要求：本科</li>
        <li>工作经验：2年</li>
    </ul>
    <div id="sDetails" style="padding-top: 40px;">
	<h2 style="background-color:#FFFFFF;font-weight:normal;font-size:20px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#12A7E0;">
	岗位要求
</h2>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<p>
		1、按时按质完成日常编码开发工作，并进行单元测试工作；
	</p>
	<p>
		2、承担部分模块或需求的分析设计工作；
	</p>
	<p>
		3、承担部分已有模块的日常维护及问题处理工作；
	</p>
	<p>
		4、承担部分技术点的钻研、封装、重构工作；
	</p>
	<p>
		5、对组内初级开发人员进行技术指导。
	</p>
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<br />
</p>
<h2 style="background-color:#FFFFFF;font-weight:normal;font-size:20px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#12A7E0;">
	岗位职责
</h2>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<p>
		1、精通Java开发语言，熟练应用常用的设计模式，熟悉JAVA EE技术（JSP、Servlet、Structs、Spring、Hibernate、Webservice等），具备良好的系统分析设计能力，熟悉面向对象分析与设计的方法；
	</p>
	<p>
		2、具有良好的数据库编程习惯，并可以优化SQL，至少熟悉Oracle、MySQL数据库中的一种；
	</p>
	<p>
		3、熟悉Javascript/Ajax/Jquery、CSS、HTML/XML/JSON的相关WEB技术，并具备一定的界面开发设计能力；
	</p>
	<p>
		4、能承受较大的工作压力，有较强团队合作精神，有良好的敬业精神，具有较强的沟通能力。
	</p>
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<br />
</p>
<p style="text-align:justify;background-color:#ffffff;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3e3a39;font-size:16px;">
	&nbsp;
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<span style="color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;font-size:16px;line-height:30px;background-color:#FFFFFF;"><span>简历投递邮箱：hr@gdcattsoft.com</span><br />
<br />
</span>
</p>
	</div>
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
