
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>职位招聘详情</title>
<link href="../favicon.ico" type="image/x-icon" rel="icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
</head>

<body>

<div class="headDiv">
    <div class="logo" onClick="window.location='index.html'"></div>
    <ul class="headMenu">
	    		<li onClick="window.location='index.html'" class="">首 页</li>
	    		<li onClick="window.location='about.html'" class="">关于NAK</li>
	    		<li onClick="window.location='news.html'" class="">公司新闻</li>
	    		<li onClick="window.location='product.html'" class="">产品中心</li>
	    		<li onClick="window.location='service.html'" class="">服务专区</li>
	    		<!-- 选中菜单 -->
	    		<li onClick="window.location='hr.html'" class="select">人力资源</li>
	    		<li onClick="window.location='contect.html'" class="">联系我们</li>
    </ul>
</div>

<div class="newsDiv">
	<div class="newsPosition">
    	<a onClick="window.location='hr.html'">岗位列表 > </a>
    	<h1> 岗位详情</h1>
    </div>
</div>

<div class="jobDetail">
    <h1>中级售前工程师</h1>
    <ul>
    	<li>所属部门：产品研发中心</li>
        <li>工作地点：广州市黄埔区</li>
        <li>学历要求：本科</li>
        <li>工作经验：2年</li>
    </ul>
    <div id="sDetails" style="padding-top: 40px;">
	<h2 style="background-color:#FFFFFF;font-weight:normal;font-size:20px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#12A7E0;">
	岗位要求
</h2>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<p>
		1、 负责公司大通信领域（移动/联通/电信运营商，行业通信）软件产品的售前技术支持工作，包括售前咨询、客户需求整体规划、现场调研、技术交流、方案编写、配置报价、投标应标、产品测试等；
	</p>
	<p>
		2、 配合公司销售人员把控好项目或商机发展趋势，为其提供技术支持；
	</p>
	<p>
		3、 与公司研发团队保持交流，了解公司产品发展动向，主动反馈一线客户需求，积极参与产品规划；
	</p>
	<p>
		4、 了解大通信领域软件产品的发展趋势，跟踪行业标准、规范的落地情况，加深对行业业务和产品的理解；
	</p>
	<p>
		5、 跟踪大通信领域的新技术、新业务进展；
	</p>
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<br />
</p>
<h2 style="background-color:#FFFFFF;font-weight:normal;font-size:20px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#12A7E0;">
	岗位职责
</h2>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<p>
		1、 本科及以上学历，计算机软件相关专业，2年及以上售前岗位经验；
	</p>
	<p>
		2、 性格开朗，工作态度端正，责任心强，能适应长期出差；
	</p>
	<p>
		3、 思维敏捷且逻辑严谨，拥有良好的沟通表达、归类总结、方案制作及讲解能力，有一定的现场把控能力；
	</p>
	<p>
		4、 拥有优秀的文字表达能力，能够编写行文流畅、结构完整、逻辑清晰的文档；
	</p>
	<p>
		5、 熟练使用售前常用工具;
	</p>
	<p>
		6、 积极主动，优秀的跨团队沟通能力与协作精神。
	</p>
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<br />
</p>
<p style="text-align:justify;background-color:#ffffff;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3e3a39;font-size:16px;">
	&nbsp;
</p>
<p style="text-align:justify;background-color:#FFFFFF;font-size:16px;font-family:微软雅黑, Arial, Helvetica, sans-serif;color:#3E3A39;">
	<span style="color:#3E3A39;font-family:微软雅黑, Arial, Helvetica, sans-serif;font-size:16px;line-height:30px;background-color:#FFFFFF;"><span>简历投递邮箱：hr@gdcattsoft.com</span><br />
<br />
</span>
</p>
	</div>
</div>

<iframe frameborder="0" class="footerFrame" scrolling="no" src="../footer.html"></iframe> 
<div class="gotoTop" title="回到顶部"></div>

</body>
</html>
