.seperatorDiv
{
    height: 1pc;
    width: 100%;
}
.order_div
{
    width: 100%;
    height: 32pc;
    background-color: white;
    color: darkred
}
.seperatoLine
{
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
}

.item_function
{
    width: 100%;
    height:270px;
    background-color: white;
}

.itemLogo
{
    width: 160px;
    height:160px;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
}

.itemTitle
{
    height:1.5pc;
    font-size: 3em;
    color: #111111;
    background-color: white;
    float: left;
    line-height:12pc;
    margin-left: 30px;
}

/*.order_oper*/
/*{*/
    /*width: 200px;*/
    /*float: right;*/
    /*border-radius: 5px;*/
    /*background-color: #e0e0e005;*/
    /*font-size: 2.5em;*/
    /*text-align: center;*/
    /*border-width: 2px;*/
    /*border-style:solid;*/
    /*margin-top: 60px;*/
    /*margin-right: 50px;*/
    /*border-color: #666666;*/
/*}*/

.order_oper
{
    width: 30px;
    height: 45px;
    float: right;
    border-radius: 5px;
    background-color: #e0e0e005;
    font-size: 2.5em;
    text-align: center;
    margin-top: 75px;
    margin-right: 50px;
}