<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/Public/public.js"></script>

    <script src="/static/js/resource.js"></script>

    <script src="/static/threePart/LayUi/layui.js"></script>
    <link rel="stylesheet" href="/static/threePart/Boost/bootstrap.css"/>
    <link rel="stylesheet" href="/static/threePart/LayUi/css/layui.css" media="all">

    <style>
        .layui-table-cell {
            height: 29px;
            line-height: 29px;
        }
    </style>
</head>
<body>

<div style="background: #fff;height: 600px;width: 90%;margin-left:5%;margin-top: 10px" id="vip_div">
    <div class="demoTable">
        搜索：
        <div class="layui-inline">
            <input class="layui-input" name="keyword" id="demoReload" autocomplete="off"  placeholder="输入版本名">
        </div>
        <button class="layui-btn" data-type="reload" onclick="searchFliter()">搜索</button>
        <button class="layui-btn" data-type="reload" onclick="searchResource(1)">语文</button>
        <button class="layui-btn" data-type="reload" onclick="searchResource(2)">数学</button>
        <button class="layui-btn" data-type="reload" onclick="searchResource(3)">英语</button>
        <button class="layui-btn" data-type="reload" onclick="searchResource(4)">其他</button>
        <button class="layui-btn" data-type="reload" onclick="showAll()">所有</button>

        <button class="layui-btn" data-type="reload" onclick="releaseResource()" style="float: right">发布资源</button>
    </div>

    <table id="demo" lay-filter="test" style="overflow-y: scroll"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sections">章节</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remark">评论</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cstate">启/停</a>
</script>


<script>
    var orgTab;
    layui.use('table', function () {
        var table = layui.table;

        var listParams = new Array();
        listParams[0] = "command=RESOURCE_LIST";
        listParams[1] = "stype=0";

        var urlCmd = $.buildGetParam("/api/resource/?", listParams);

        //第一个实例
        orgTab = table.render({
            elem: '#demo'
            , height: 900
            ,limit:20
            ,cellMinWidth:80
            , url: urlCmd //数据接口
            , page: true //开启分页
            , id: 'testReload'
            , cols: [[ //表头
                    {field: 'id', title: 'ID',sort: true,style:'hidden!important;' ,width:100}
                , {field: 'resgrade', title: '年级', sort: true ,width:100}
                , {field: 'resclass', title: '科目',width:100}
                , {field: 'resprice', title: '价格',width:100}
                , {field: 'resname', title: '标题',width:240}
                , {field: 'resimage', title: '资源图',width:100}
                , {field: 'previewurl', title: '试看链接',width:80}
                , {field: 'resdownloadurl', title: '下载链接',width:80}
                , {field: 'respassword', title: '密码',width:80}
                , {field: 'respeople', title: '发布者',width:100}
                , {field: 'resorgname', title: '归属单位',width:100}
                , {field: 'resviewcount', title: '查看次数',width:100}
                , {field: 'statename', title: '状态',width:100}
                , {fixed: 'right', title: '操作', align: 'center',width:280, toolbar: '#barDemo'}
            ]]
            , done: function (res, page, count) {
                $("[data-field='resgrade']").children().each(function () {
                    if ($(this).text() == "1") {
                        $(this).text("一年级");
                    }
                    else if ($(this).text() == "2") {
                        $(this).text("二年级");
                    }
                    else if ($(this).text() == "3") {
                        $(this).text("三年级");
                    }
                    else if ($(this).text() == "4") {
                        $(this).text("四年级");
                    }
                    else if ($(this).text() == "5") {
                        $(this).text("五年级");
                    }
                    else if ($(this).text() == "6") {
                        $(this).text("六年级");
                    }


                    else if ($(this).text() == "7") {
                        $(this).text("初一");
                    }
                    else if ($(this).text() == "8") {
                        $(this).text("初二");
                    }
                    else if ($(this).text() == "9") {
                        $(this).text("初三");
                    }


                    else if ($(this).text() == "10") {
                        $(this).text("高一");
                    }
                    else if ($(this).text() == "11") {
                        $(this).text("高二");
                    }
                    else if ($(this).text() == "12") {
                        $(this).text("高三");
                    }
                })

                $("[data-field='resclass']").children().each(function () {
                    if ($(this).text() == "1") {
                        $(this).text("语文");
                    }
                    else if ($(this).text() == "2") {
                        $(this).text("数学");
                    }
                    else if ($(this).text() == "3") {
                        $(this).text("英语");
                    }
                    else if ($(this).text() == "4") {
                        $(this).text("其他");
                    }
                })
            },
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {
                    layer.confirm('你确定删除？', function (index) {
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                        //向服务端发送删除指令
                        removeResource(data);
                    });
            }
            else if (layEvent === 'edit') {
                    eidtResource(data);
                }
            else if (layEvent === 'remark') {

                }
                else if (layEvent == "sections") {
                    openSections(data);
                }
                else if (layEvent == "cstate")
                {
                    $.changeState(data);
                }
        });
    });

    function removeResource (data) {
        var listParams = new Array();
        listParams[0] = "command=DELE_RESOURCE";

        var postParm = new Array();
        postParm[0] = "code=" + data.code;

        var urlCmd = $.buildGetParam("/api/resource/?", listParams);

        params = $.buildPostParam(postParm);

        $.post(urlCmd, params,
            function (data) {

                var ErrorId = data.ErrorId;
                var Result = data.Result;

                if (ErrorId == 200) {
                    alert("删除成功!");
                }
                else {
                    alert(data.ErrorInfo);
                }

            },
            "json");
    }

    function searchResource(type) {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                stype:type
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function showAll() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设

            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
    function searchFliter() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                fliterstring:pfliter
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }


    function releaseResource() {
             layer.open({
            title: ['发布资源', 'font-size:13px;margin-top:10px;'],
            type: 2,
            area: ['500px', '900px'],
            content: 'resource_add.html'
        });

    }
    function eidtResource(datas) {
             layer.open({
            title: ['编辑资源', 'font-size:13px;margin-top:10px;'],
            type: 2,
            area: ['500px', '900px'],
            content: 'resource_add.html',
            success: function (layero, index) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.setDatas(datas);
            }
        });

    }


    function  openSections(datas) {
        layer.open({
            title: ['编辑资源目录', 'font-size:13px;margin-top:10px;'],
            type: 2,
            area: ['500px', '780px'],
            content: 'resource_items.html',
            success: function (layero, index) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.searchResource(datas.code);
            }
        });
    }

</script>
</body>
</html>