<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="user-scalable=no">

    <script src="/static/Public/jquery.js"></script>
    <script src="/static/Public/md5.js"></script>
    <script src="/static/Public/cookie.js"></script>
    <script src="/static/Public/public.js"></script>

    <script src="/static/threePart/LayUi/layui.js"></script>
    <script src="/static/OrgHome/Media_js/version_list.js"></script>

    <link rel="stylesheet" href="/static/threePart/Boost/bootstrap.css"/>
    <link rel="stylesheet" href="/static/threePart/LayUi/css/layui.css" media="all">

    <style>
        .layui-table-cell{
    height:30px;
    line-height:30px;
}
    </style>
</head>
<body>

<div style="background: #fff;height: 600px;width: 90%;margin-left:5%;" id="vip_div">
    <div class="demoTable">
        搜索：
        <div class="layui-inline">
            <input class="layui-input" name="keyword" id="demoReload" autocomplete="off"  placeholder="输入版本名">
        </div>
        <button class="layui-btn" data-type="reload" onclick="searchFliter()">搜索</button>
        <button class="layui-btn" data-type="reload" onclick="windowsVersion()">Window版本</button>
        <button class="layui-btn" data-type="reload" onclick="androidVersion()">Android版本</button>
        <button class="layui-btn" data-type="reload" onclick="showAll()">所有版本</button>

        <button class="layui-btn" data-type="reload" onclick="newVersion()" style="float: right">发布</button>
    </div>

    <table id="demo" lay-filter="test" style="overflow-y: scroll"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    var orgTab;
    layui.use('table', function () {
        var table = layui.table;

        var listParams = new Array();
        listParams[0] = "command=VERSION_LIST";
        var timestamp = (new Date()).valueOf();
        listParams[1] = "timestamp=" + timestamp;
        listParams[2] = "logincode=" + $.cookie("OrgUserCode");
        listParams[3] = "type=2";
        listParams[4] = "orgsign=1111" ;

        listParams = listParams.sort();
        var urlCmd = $.buildGetParam("/api/system/?", listParams);
        urlCmd = urlCmd + "&sign=" + $.signString(listParams);

        //第一个实例
        orgTab = table.render({
            elem: '#demo'
            , height: 600
            ,cellMinWidth:80
            , url: urlCmd //数据接口
            , page: true //开启分页
            , id: 'testReload'
            , cols: [[ //表头
                {field: 'id', title: 'ID',sort: true,style:'hidden!important;'}
                , {field: 'name', title: '版本名', sort: true}
                , {field: 'type', title: '版本类型',}
                , {field: 'version', title: '版本号',}
                , {field: 'statename', title: '状态',}
                , {field: 'regtime', title: '登记时间', sort: true}
                , {fixed: 'right', title: '操作', align: 'center',width:300, toolbar: '#barDemo'}
            ]]
            , done: function (res, page, count) {
                $("[data-field='type']").children().each(function () {
                    if ($(this).text() == "2") {
                        $(this).text("Windows版本");
                    }
                    else if ($(this).text() == "1") {
                        $(this).text("Android版本");
                    }

                })
            },
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {
                layer.confirm('你确定删除该版本？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    $.removeVersion(data);
                });
            }
        });
    });


    function windowsVersion() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                stype:"0"
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function androidVersion() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                stype:"1"
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function showAll() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设

            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
    function searchFliter() {
        var pfliter = $("#demoReload").val();
        orgTab.reload({
            where: { //设定异步数据接口的额外参数，任意设
                fliterstring:pfliter
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }


    function newVersion() {
             layer.open({
            title: ['发布终端版本', 'font-size:13px;margin-top:10px;'],
            type: 2,
            area: ['440px', '400px'],
            content: 'version_add.html'
        });

    }

</script>
</body>
</html>